#{extends 'main.html' /}
#{set title:'Cliente' /}
<div id="mensajes"></div>
<div class="well">
	<fieldset>
		<legend>:: Cliente :: </legend>
		<div id="alert" class="alert alert-error" style="display: none;"><strong></strong>
		</div>
		<form action="" class="form-horizontal" onsubmit="return false;" id="formularioCliente">
			<input name="cliente.coCliente" type="hidden" id="coCliente" value="" autocomplete="off">	
			<div class="control-group">
				<label class="control-label" for="coTipoPago">Tipo de pago</label>
				<div class="controls">
					<select name="cliente.vmdbTipoPago.coTipoPago" id="coTipoPago">	
					    <option value="00">Seleccione</option>									
						#{list listTipoPago,as:'tipoPago'}
						<option value="${tipoPago.coTipoPago}">${tipoPago.deNombre}</option>
						#{/list}
					</select>
				</div>
			</div>	
			<div class="control-group">
				<label class="control-label required-form" for="deNombre">Razon Social</label>
				<div class="controls">
				     <textarea id="deNombre" name="cliente.deNombre" rows="" cols="" placeholder="Razon Social..."  autocomplete="off" maxlength="200"></textarea>
				</div>
			</div>	
			<div class="control-group">
				<label class="control-label" for="coIdentificacion">Tipo Identificacion</label>
				<div class="controls">
					<select name="cliente.vmdbIdentificacion.coIdentificacion" id="coIdentificacion">	
					    <option value="00">Seleccione</option>									
						#{list listIdentificacion,as:'identificacion'}
						<option value="${identificacion.coIdentificacion}">${identificacion.deNombre}</option>
						#{/list}
					</select>
				</div>
			</div>	
			<div class="control-group">
				<label class="control-label required-form" for="deRuc">Identificacion</label>
				<div class="controls">
					<div class="input-append">
						<input type="text" name="cliente.deRuc" id="deRuc" autocomplete="off"/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="stRetencion">Retencion?</label>
				<div class="controls">
					<select name="cliente.stRetencion" id="stRetencion">
					    <option value="00">Seleccione</option>
					    <option value="1">SI</option>
						<option value="0">NO</option>						
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label required-form" for="deCiudad">Ciudad</label>
				<div class="controls">
					<div class="input-append">
						<input type="text" name="cliente.deCiudad" id="deCiudad" autocomplete="off"/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label required-form" for="deAgente">Agente</label>
				<div class="controls">
					<div class="input-append">
						<input type="text" name="cliente.deAgente" id="deAgente" autocomplete="off"/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label required-form" for="deDireccion">Direccion</label>
				<div class="controls">
					<div class="input-append">
						<input type="text" name="cliente.deDireccion" id="deDireccion" autocomplete="off"/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label required-form" for="deTelefono">Telefono</label>
				<div class="controls">
					<div class="input-append">
						<input type="text" name="cliente.deTelefono" id="deTelefono" autocomplete="off"/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label required-form" for="deZona">Zona</label>
				<div class="controls">
					<div class="input-append">
						<input type="text" name="cliente.deZona" id="deZona" autocomplete="off"/>
					</div>
				</div>
			</div>				
			<div class="control-group">
				<label class="control-label" for="stCliente">Estado</label>
				<div class="controls">
					<select name="cliente.stCliente" id="stCliente">
						<option value="1">Activo</option>
						<option value="0">Inactivo</option>
					</select>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" id="btnGuardar" class="btn btn-primary">Guardar</button>
				<button type="button" id="btnCancelar" class="btn">Cancelar</button>				
			</div>
		</form>		
	</fieldset>
</div>
<form action="" onsubmit="return false" class="well form-search" id="buscarCliente">
	<input type="text" name="txtNombreBuscar" id="txtNombreBuscar" class="input-xlarge" placeholder="Nombre del cliente" autocomplete="off">
	<button type="submit" class="btn">Buscar</button>
	<img id="loadBuscar" src="@{'/public/images/ajax-loaderCombo.gif'}" class="hide">
</form>
#{pagination.pag lista:listCliente, titulo:'Cliente', cab:'ID,Tipo Pago,Razon Social,Identificacion,Retencion,Ciudad,Agente,Direccion,Telefono,Zona,Estado,Opc', cantidadPestana:15, itemPag:500}
<tr>
<td>${item.coCliente}</td>
<td>${item.vmdbTipoPago.deNombre}</td>
<td>${item.deNombre}</td>
<td>${item.deRuc}</td>
<td>
#{if item.stRetencion=='1'}SI#{/if}
#{elseif item.stRetencion=='0'}NO#{/elseif}
</td>
<td>${item.deCiudad}</td>
<td>${item.deAgente}</td>
<td>${item.deDireccion}</td>
<td>${item.deTelefono}</td>
<td>${item.deZona}</td>
<td>
#{if item.stCliente=='1'}Activo#{/if}
#{elseif item.stCliente=='0'}Inactivo#{/elseif}
</td>
<td>
<input type="hidden" name="coTipoPagoTemp" value="${item.vmdbTipoPago.coTipoPago}">
<input type="hidden" name="stClienteTemp" value="${item.stCliente}">
<input type="hidden" name="stRetencionTemp" value="${item.stRetencion}">
<input type="hidden" name="coIdentificacionTemp" value="${item.vmdbIdentificacion.coIdentificacion}">
<a class="btn btn-mini" id="update_${item.coCliente}"><i class="icon-pencil"></i></a>
<a class="btn btn-mini" id="eliminar_${item.coCliente}"><i class="icon-trash"></i></a>
</td>
</tr>
#{/pagination.pag}
<script type="text/javascript">
var rutaPaginacionCliente = '@{Cliente.paginacion()}';
var Clientes = {
		capaDeMensajes : "mensajes",
		init : function(){
			$(document).delegate("a[id*='update_']","click",Clientes.editarCliente);			
			$("#buscarCliente").submit(Clientes.buscarCliente);
			$("#btnGuardar").click(Clientes.guardarCliente);			
			$("#btnCancelar").click(Clientes.cancelarCliente);
			$(document).delegate("a[id*='eliminar_']","click",Clientes.eliminar);	
			$(document).delegate("#coIdentificacion","change",Clientes.setIdentificacion);
		},
		setIdentificacion : function(){			
			if($("#coIdentificacion").val() == 4){
				$("#deRuc").val("9999999999999");
			}else{
				if($("#coIdentificacion").val() == 5){
					$("#deRuc").val("7777777777");
				}else{
					$("#deRuc").val("");
				}
			}	
		},
		listar : function(){
			$("#txtNombreBuscar").val('');
			$("#loadBuscar").show();
			$('#paginationCliente').load('@{Cliente.buscar()}?azar='+Math.random(),
			$("#buscarCliente").serialize(),
			function() {
				$("#loadBuscar").hide();
			});
		},
		editarCliente : function(){
			scroll(0,0);
			$(".required-form").parent().removeClass("error");
			$(".help-inline").addClass("hide");
			$("#btnGuardar").text("Editar");
			$("#coCliente").val($(this).parents("tr").find("td").eq(0).text());	
			$("#coTipoPago").val($(this).parent().find('input:[name="coTipoPagoTemp"]').val());
			$("#deNombre").val($(this).parents("tr").find("td").eq(2).text());
			$("#deRuc").val($(this).parents("tr").find("td").eq(3).text());
			$("#stRetencion").val($(this).parent().find('input:[name="stRetencionTemp"]').val());
			$("#deCiudad").val($(this).parents("tr").find("td").eq(5).text());
			$("#deAgente").val($(this).parents("tr").find("td").eq(6).text());
			$("#deDireccion").val($(this).parents("tr").find("td").eq(7).text());
			$("#deTelefono").val($(this).parents("tr").find("td").eq(8).text());
			$("#deZona").val($(this).parents("tr").find("td").eq(9).text());			
			$("#stCliente").val($(this).parent().find('input:[name="stClienteTemp"]').val());
			$("#coIdentificacion").val($(this).parent().find('input:[name="coIdentificacionTemp"]').val());
		},
		buscarCliente : function(e){						
			e.preventDefault();
			$("#loadBuscar").show();
			$('#paginationCliente').load('@{Cliente.buscar()}?azar='+Math.random(),
		    $("#buscarCliente").serialize(),
			function() {
				$("#loadBuscar").hide();
			});
		},
		guardarCliente : function(){
		  if($("#coTipoPago").val()=="00"){
			   scroll(0,0);
			   $.showMessage("error","Seleccione el tipo de pago",Clientes.capaDeMensajes,true);
			   return false;
		  }else{
			  if($.trim($('#deNombre').val())==''){
				  scroll(0,0);
				  $.showMessage("error","Ingrese la Razon Social",Clientes.capaDeMensajes,true);
				  return false;
			  }else{
				  if($("#coIdentificacion").val()=="00"){
					  scroll(0,0);
					  $.showMessage("error","Seleccione el tipo de identificacion",Clientes.capaDeMensajes,true);
					  return false;
				  }else{
					  if($.trim($('#deRuc').val())==''){
						  scroll(0,0);
						  $.showMessage("error","Ingrese la identificacion del cliente",Clientes.capaDeMensajes,true);
						  return false;
					  }else{
						  if($("#stRetencion").val()=="00"){
							  scroll(0,0);
							  $.showMessage("error","Tiene que indicar si presenta retencion, SI o NO ?",Clientes.capaDeMensajes,true);
							  return false;
						  }else{
							  $.ajax({
									url:"@{Cliente.guardarCliente()}",
									data:$("#formularioCliente").serialize(),
									success:function(obj){
									 if(obj.status == 1 || obj.status == 2){
										scroll(0,0);
										$.showMessage("success",obj.message,Clientes.capaDeMensajes,true);
										Clientes.cancelarCliente();
										Clientes.listar();
									 }else{
										scroll(0,0);
										$.showMessage("error",obj.message,Clientes.capaDeMensajes,true);
									 }
								    }
									});
								 $('#alert').hide();
						  }				  						 
					  }					  
				  }				  				  					  				 
			  }			  
		  } 		   					
		},
		eliminar : function(){
			if(confirm("Desea eliminar al cliente? ")){
				_id = this.id.substring(9);
				$.ajax({
					url:"@{Cliente.eliminar()}",
					data:{id : _id},
					success:function(result){
						scroll(0,0);
						if(result.status == 1){							
							$.showMessage("success",result.message,Clientes.capaDeMensajes,true);
							Clientes.cancelarCliente();
							Clientes.listar();
						}else{
							$.showMessage("error",result.message,Clientes.capaDeMensajes,true);
							Clientes.cancelarCliente();
							Clientes.listar();
						}
					},
					complete:function(){
						scroll(0,0);
						Clientes.cancelarCliente();						
					}
				})
			}
		},
		cancelarCliente : function(){			
			$(".required-form").parent().removeClass("error");
			$(".help-inline").addClass("hide");
			$("#formularioCliente").clearAll();
			$("#btnGuardar").text("Guardar");
		},
}
$(function(){
	Clientes.init();
});
</script>