#{pagination.pag lista:listCliente, titulo:'Cliente', cab:'ID,Tipo Pago,Razon Social,Identificacion,Retencion,Ciudad,Agente,Direccion,Telefono,Zona,Estado,Opc', cantidadPestana:15, itemPag:500, pag:pag}
<tr>
<td>${item.coCliente}</td>
<td>${item.vmdbTipoPago.deNombre}</td>
<td>${item.deNombre}</td>
<td>${item.deRuc}</td>
<td>
#{if item.stRetencion=='1'}SI#{/if}
#{elseif item.stRetencion=='0'}NO#{/elseif}
</td>
<td>${item.deCiudad}</td>
<td>${item.deAgente}</td>
<td>${item.deDireccion}</td>
<td>${item.deTelefono}</td>
<td>${item.deZona}</td>
<td>
#{if item.stCliente=='1'}Activo#{/if}
#{elseif item.stCliente=='0'}Inactivo#{/elseif}
</td>
<td>
<input type="hidden" name="coTipoPagoTemp" value="${item.vmdbTipoPago.coTipoPago}">
<input type="hidden" name="stClienteTemp" value="${item.stCliente}">
<input type="hidden" name="stRetencionTemp" value="${item.stRetencion}">
<input type="hidden" name="coIdentificacionTemp" value="${item.vmdbIdentificacion.coIdentificacion}">
<a class="btn btn-mini" id="update_${item.coCliente}"><i class="icon-pencil"></i></a>
<a class="btn btn-mini" id="eliminar_${item.coCliente}"><i class="icon-trash"></i></a>
</td>
</tr>
#{/pagination.pag}