#{extends 'main.html' /}
#{set title:'Guia de Remision' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/bootstrap-datepicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/datepicker.css'}">
#{/set}
<div id="mensajes"></div>
<div class="well">
	<fieldset>
		<legend>:: Guia de Remision :: </legend>
		<form action="" class="form-horizontal" onsubmit="return false;" id="formularioGuiaRemision">
			<input name="coGuiaRemision" type="hidden" id="coGuiaRemision" value="" autocomplete="off">			
			<div class="control-group">			
				<div class="row">
				    <div class="span5">
					    <div class="control-group">
							<label class="control-label">Nro. Guia Remision</label>
							<div class="controls">
							    <div class="input-append">
									<input type="text" id="nroGuiaRemision" name="nroGuiaRemision" autocomplete="off"/>
								</div>							    															
							</div>
						</div>					    					    				
					</div>
					<div class="span">
					    <div class="control-group">
							<label class="control-label" for="coNotaEntrega">Nota Entrega</label>
							<div style="margin-left:-20px;">
							<div class="controls">
								<select name="coNotaEntrega" id="coNotaEntrega" class="span2" autocomplete="off">
									<option value="00">Seleccione</option>
									#{list listNotaEntrega,as:'notaEntrega'}
									<option value="${notaEntrega.coNotaEntrega}">${notaEntrega.nroNotaEntrega}</option>
									#{/list}
								</select>								
							</div>
							</div>
						</div>						
					</div>																																			
				</div>	
				<div class="row">
					<div class="span5">
						<div class="control-group">
							<label class="control-label">Fecha Iniciacion del Traslado</label>							
							<div class="controls">
								<div class="input-append">
									<input type="text" id="fechaIniciacionTraslado" name="fechaIniciacionTraslado" autocomplete="off"/>
								</div>
							</div>
						</div>												
					</div>
					<div class="span">
					    <div class="control-group">
							<label class="control-label">Fecha Terminacion del Traslado</label>
							<div style="margin-left:10px;">
							<div class="controls">
								<div class="input-append">
									<input type="text" id="fechaTerminacionTraslado" name="fechaTerminacionTraslado" autocomplete="off"/>
								</div>
							</div>
							</div>
						</div>					    					    				
					</div>																																				
				</div>
				<div class="row">
					<div class="span5">
						<div class="control-group">
							<label class="control-label">Fecha Emision</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="fechaEmision" name="fechaEmision" autocomplete="off"/>
								</div>
							</div>
						</div>												
					</div>
					<div class="span">
					    <div class="control-group">
							<label class="control-label">Punto de Partida</label>
							<div style="margin-left:10px;">
							<div class="controls">
							    <div class="input-append">
									<input type="text" id="puntoPartida" name="puntoPartida" autocomplete="off"/>
								</div>							    															
							</div>
							</div>
						</div>					    					    				
					</div>																																				
				</div>													
				<div style="color:#0088CC;font-weight:bold;">DESTINATARIO</div> 
				<div class="row">
					<div class="span5">
						<div class="control-group">
							<label class="control-label">Nombre o Razon Social</label>
							<div class="controls">
								<textarea id="nombreORazonSocial" name="nombreORazonSocial" rows="" cols="" placeholder="" autocomplete="off" readonly="readonly"></textarea>
							</div>
						</div>												
					</div>
					<div class="span">
					    <div class="control-group">
							<label class="control-label">RUC / CI</label>
							<div style="margin-left:10px;">
							<div class="controls">
								<div class="input-append">
									<input type="text" id="rucCI" name="rucCI" autocomplete="off" readonly="readonly"/>
								</div>
							</div>
							</div>
						</div>					    					    				
					</div>																																				
				</div>			
				<div class="row">					
					<div class="span5">
					    <div class="control-group">
							<label class="control-label">Punto de Llegada</label>
							<div class="controls">
							    <div class="input-append">
									<input type="text" id="puntoLlegada" name="puntoLlegada" autocomplete="off" class="span5"/>
								</div>							    							    							
							</div>
						</div>					    					    				
					</div>																																				
				</div>					
				<div style="color:#0088CC;font-weight:bold;">IDENTIFICACION DE LA PERSONA ENCARGADA DEL TRANSPORTE</div>			
				<div class="row">
					<div class="span5">
						<div class="control-group">
							<label class="control-label">Nombre o Razon Social</label>
							<div class="controls">
								<textarea id="nombreORazonSocialT" name="nombreORazonSocialT" rows="" cols="" placeholder="" autocomplete="off"></textarea>
							</div>
						</div>												
					</div>
					<div class="span">
					    <div class="control-group">
							<label class="control-label">RUC / CI</label>
							<div style="margin-left:10px;">
							<div class="controls">
								<div class="input-append">
									<input type="text" id="rucCIT" name="rucCIT" autocomplete="off" />
								</div>
							</div>
							</div>
						</div>					    					    				
					</div>																																				
				</div>								
				<div style="color:#0088CC;font-weight:bold;">BIENES TRANSPORTADOS</div>
				<div class="row">
					<div class="span5">
						<div class="control-group">
							<label class="control-label">Cantidad</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="cantidad" name="cantidad" autocomplete="off" />
								</div>
							</div>
						</div>												
					</div>
					<div class="span">
					    <div class="control-group">
							<label class="control-label">Unidad</label>
							<div style="margin-left:10px;">
							<div class="controls">
								<div class="input-append">
									<input type="text" id="unidad" name="unidad" autocomplete="off" />
								</div>
							</div>
							</div>
						</div>					    					    				
					</div>																																				
				</div>				
				<div class="row">
					<div class="span5">
						<div class="control-group">
							<label class="control-label">Descripcion 01</label>
							<div class="controls">
								<textarea id="descripcion01" name="descripcion01" rows="" cols="" placeholder="" autocomplete="off" maxlength="80"></textarea>
							</div>
						</div>												
					</div>
					<div class="span">
					    <div class="control-group">
							<label class="control-label">Descripcion 03</label>
							<div style="margin-left:10px;">
							<div class="controls">
								<textarea id="descripcion03" name="descripcion03" rows="" cols="" placeholder="" autocomplete="off" maxlength="80"></textarea>
							</div>
							</div>
						</div>					    					    				
					</div>																																				
				</div>
				<div class="row">
					<div class="span5">
						<div class="control-group">
							<label class="control-label">Descripcion 02</label>							
							<div class="controls">
								<textarea id="descripcion02" name="descripcion02" rows="" cols="" placeholder="" autocomplete="off" maxlength="80"></textarea>
							</div>
						</div>												
					</div>																																							
				</div>														
			</div>							
			<div class="form-actions">
				<button type="submit" id="btnGuardar" class="btn btn-primary">Guardar</button>
				<button type="button" id="btnCancelar" class="btn">Cancelar</button>				
			</div>
		</form>		
	</fieldset>
</div>
<form action="" onsubmit="return false" class="well form-search" id="buscarGuiaRemision">
	<input type="text" name="txtNombreBuscar" id="txtNombreBuscar" class="input-xlarge" placeholder="Nro. Guia de Remision" autocomplete="off">
	<button type="submit" class="btn">Buscar</button>
	<img id="loadBuscar" src="@{'/public/images/ajax-loaderCombo.gif'}" class="hide">
</form>
#{pagination.pag lista:listGuiaRemision, titulo:'GuiaRemision', cab:'Id,Nro. Guia,Nro. Nota Entrega,Cliente,F. Inicio Traslado,F. Fin Traslado,Transporte,Opc', cantidadPestana:15, itemPag:500}
<tr>
<td key="coGuiaRemision" valor="${item.coGuiaRemision}">${item.coGuiaRemision}</td>
<td key="nroGuiaRemision" valor="${item.nroGuiaRemision}">${item.nroGuiaRemision}</td>
<td key="coNotaEntrega" valor="${item.vmdbNotaEntrega.nroNotaEntrega}">${item.vmdbNotaEntrega.nroNotaEntrega}</td>
<td key="nombreORazonSocial" valor="${item.vmdbNotaEntrega.vmdbCliente.deNombre}">${item.vmdbNotaEntrega.vmdbCliente.deNombre}</td>
<td key="fechaIniciacionTraslado" valor="${item.daFechaIniciacionTraslado.format('dd/MM/yyyy')}">${item.daFechaIniciacionTraslado.format('dd/MM/yyyy')}</td>
<td key="fechaTerminacionTraslado" valor="${item.daFechaTerminacionTraslado.format('dd/MM/yyyy')}">${item.daFechaTerminacionTraslado.format('dd/MM/yyyy')}</td>
<td key="nombreORazonSocialT" valor="${item.deNombreRazonSocial}">${item.deNombreRazonSocial}</td>
<td>
	<a class="btn btn-mini" id="anular_${item.coGuiaRemision}"><i class="icon-remove" title="No se entrego el producto"></i></a>
	<a class="btn btn-mini" id="cerrar_${item.coGuiaRemision}"><i class="icon-ok" title="Se entrego el producto"></i></a>
	<a href="@{GuiaRemision.viewGuiaRemision(item.coGuiaRemision)}" class="btn btn-mini" title="Detalle"><i class="icon-eye-open"></i></a>
</td>
</tr>
#{/pagination.pag}
<script type="text/javascript">
var rutaPaginacionGuiaRemision = '@{GuiaRemision.paginacion()}';
var GuiaRemisiones = {
		capaDeMensajes : "mensajes",
		init : function(){
			$('#coNotaEntrega').select2();
			$("#cantidad").numeric();
			$("#fechaEmision").datepicker({format: 'dd/mm/yyyy',autoclose: true,language: 'es'});
			$("#fechaIniciacionTraslado").datepicker({format: 'dd/mm/yyyy',autoclose: true,language: 'es'});
			$("#fechaTerminacionTraslado").datepicker({format: 'dd/mm/yyyy',autoclose: true,language: 'es'});
			$(document).delegate("a[id*='update_']","click",GuiaRemisiones.editarGuiaRemision);			
			$("#buscarGuiaRemision").submit(GuiaRemisiones.buscarGuiaRemision);
			$("#btnGuardar").click(GuiaRemisiones.guardarGuiaRemision);			
			$("#btnCancelar").click(GuiaRemisiones.cancelarGuiaRemision);
			$(document).delegate("a[id*='anular_']","click",GuiaRemisiones.anularGuiaRemision);	
			$(document).delegate("a[id*='cerrar_']","click",GuiaRemisiones.cerrarGuiaRemision);
			$(document).delegate("#coNotaEntrega","change",GuiaRemisiones.cargarDatosDelCliente);
		},	
		cargarDatosDelCliente : function(){
			if($("#coNotaEntrega").val() !="00"){			
				$.ajax({
					url:"@{GuiaRemision.cargarDatosDelCliente()}",
					async: false,
					data:{
						coNotaEntrega : $("#coNotaEntrega").val(),
					},
					success:function(RESULT){							
						$("#nombreORazonSocial").val(RESULT.nombreORazonSocial);
						$("#rucCI").val(RESULT.rucCI);																							
					}
				});	
			}else{
				$("#nombreORazonSocial").val("");
				$("#rucCI").val("");		
			}	
		},
		listar : function(){
			$("#txtNombreBuscar").val('');
			$("#loadBuscar").show();
			$('#paginationGuiaRemision').load('@{GuiaRemision.buscar()}?azar='+Math.random(),
			$("#buscarGuiaRemision").serialize(),
			function() {
				$("#loadBuscar").hide();
			});
		},
		editarGuiaRemision : function(){
			scroll(0,0);
			$(".required-form").parent().removeClass("error");
			$(".help-inline").addClass("hide");
			$("#btnGuardar").text("Editar");
			$.each($(this).parents("tr").find("td"),function(k,v){
				var key=$(v).attr("key");
				var valor=$(v).attr("valor");
				$("#"+key).val(valor);
			});			
		},
		buscarGuiaRemision : function(e){						
			e.preventDefault();
			$("#loadBuscar").show();
			$('#paginationGuiaRemision').load('@{GuiaRemision.buscar()}?azar='+Math.random(),
		    $("#buscarGuiaRemision").serialize(),
			function() {
				$("#loadBuscar").hide();
			});
		},
		guardarGuiaRemision : function(){
		  if($.trim($('#nroGuiaRemision').val())==''){
			  scroll(0,0);
			  $.showMessage("error","Ingrese el Nro. de la Guia de Remision",GuiaRemisiones.capaDeMensajes,true);
			  return false;
		  }else{
			  if($("#coNotaEntrega").val()=="00"){
				   scroll(0,0);
				   $.showMessage("error","Seleccione La Nota de Entrega",GuiaRemisiones.capaDeMensajes,true);
				   return false;
			  }else{
				  if($.trim($('#fechaIniciacionTraslado').val())==''){
					  scroll(0,0);
					  $.showMessage("error","Ingrese la fecha de inicio de traslado",GuiaRemisiones.capaDeMensajes,true);
					  return false;
				  }else{
					  if($.trim($('#fechaTerminacionTraslado').val())==''){
						  scroll(0,0);
						  $.showMessage("error","Ingrese la fecha de fin de traslado",GuiaRemisiones.capaDeMensajes,true);
						  return false;
					  }else{
						  if($.trim($('#fechaEmision').val())==''){
							  scroll(0,0);
							  $.showMessage("error","Ingrese la fecha de emision",GuiaRemisiones.capaDeMensajes,true);
							  return false;
						  }else{
							  if($.trim($('#puntoPartida').val())==''){
								  scroll(0,0);
								  $.showMessage("error","Ingrese el punto de partida",GuiaRemisiones.capaDeMensajes,true);
								  return false;
							  }else{
								  if($.trim($('#puntoLlegada').val())==''){
									  scroll(0,0);
									  $.showMessage("error","Ingrese el punto de partida",GuiaRemisiones.capaDeMensajes,true);
									  return false;
								  }else{
									  if($.trim($('#nombreORazonSocialT').val())==''){
										  scroll(0,0);
										  $.showMessage("error","Ingrese la razon social del transportista",GuiaRemisiones.capaDeMensajes,true);
										  return false;
									  }else{
										  if($.trim($('#rucCIT').val())==''){
											  scroll(0,0);
											  $.showMessage("error","Ingrese el RUC o el CI del transportista",GuiaRemisiones.capaDeMensajes,true);
											  return false;
										  }else{
											  if($.trim($('#cantidad').val())==''){
												  scroll(0,0);
												  $.showMessage("error","Ingrese la cantidad del producto",GuiaRemisiones.capaDeMensajes,true);
												  return false;
											  }else{
												  if($.trim($('#unidad').val())==''){
													  scroll(0,0);
													  $.showMessage("error","Ingrese la unidad de medida",GuiaRemisiones.capaDeMensajes,true);
													  return false;
												  }else{
													  if($.trim($('#descripcion01').val())==''){
														  scroll(0,0);
														  $.showMessage("error","Ingrese la descripcion",GuiaRemisiones.capaDeMensajes,true);
														  return false;
													  }else{
														  $.ajax({
																url:"@{GuiaRemision.guardarGuiaRemision()}",
																data:{
																	"guiaRemision.coGuiaRemision" 	            			    : $("#coGuiaRemision").val(),
																	"guiaRemision.vmdbNotaEntrega.coNotaEntrega"       		    : $("#coNotaEntrega").val(),
																	"guiaRemision.dePuntoPartida" 	            			    : $("#puntoPartida").val(),
																	"guiaRemision.dePuntoLlegada" 	              				: $("#puntoLlegada").val(),															
																	"guiaRemision.deNombreRazonSocial" 	              		    : $("#nombreORazonSocialT").val(),
																	"guiaRemision.deRucCI" 	              		                : $("#rucCIT").val(),
																	"guiaRemision.cantidad" 	              		            : $("#cantidad").val(),
																	"guiaRemision.deUnidad" 	              		            : $("#unidad").val(),
																	"guiaRemision.deDescripcion_01" 	              		    : $("#descripcion01").val(),
																	"guiaRemision.deDescripcion_02" 	              		    : $("#descripcion02").val(),
																	"guiaRemision.deDescripcion_03" 	              		    : $("#descripcion03").val(),
																	"guiaRemision.nroGuiaRemision" 	              		        : $("#nroGuiaRemision").val(),
																	"guiaRemision.stGuiaEmision"       	  	                    : '1',																				
																	"daFechaEmision" 	              	             			: $("#fechaEmision").val(),
																	"daFechaIniciacionTraslado" 	              	            : $("#fechaIniciacionTraslado").val(),
																	"daFechaTerminacionTraslado" 	              	            : $("#fechaTerminacionTraslado").val()
																 },
																 success:function(obj){
																 if(obj.status == 1 || obj.status == 2){
																	scroll(0,0);
																	$.showMessage("success",obj.message,GuiaRemisiones.capaDeMensajes,true);
																	location.reload();
																	//GuiaRemisiones.cancelarGuiaRemision();
																	//GuiaRemisiones.listar();
																 }else{
																	scroll(0,0);
																	$.showMessage("error",obj.message,GuiaRemisiones.capaDeMensajes,true);
																 }
															    }
														    })
													  }											  
												  }										  
											  }											  
										  }									  
									  }								  
								  }							  
							  }
						  }					 
					  }				  
				  }
			  } 
		  }	  			   		   					
		},
		anularGuiaRemision : function(){
			if(confirm("Desea cancelar la Guia de Remision? ")){
				_id = this.id.substring(7);
				$.ajax({
					url:"@{GuiaRemision.anularGuiaRemision()}",
					data:{id : _id},
					success:function(result){
						scroll(0,0);
						if(result.status == 1){							
							$.showMessage("success",result.message,GuiaRemisiones.capaDeMensajes,true);
							GuiaRemisiones.cancelarGuiaRemision();
							//GuiaRemisiones.listar();
						}else{
							$.showMessage("error",result.message,GuiaRemisiones.capaDeMensajes,true);
							GuiaRemisiones.cancelarGuiaRemision();
							//GuiaRemisiones.listar();
						}
					},
					complete:function(){
						scroll(0,0);
						GuiaRemisiones.cancelarGuiaRemision();						
					}
				})
			}
		},
		cerrarGuiaRemision : function(){
			if(confirm("Desea cerrar la Guia de Remision? ")){
				_id = this.id.substring(7);
				$.ajax({
					url:"@{GuiaRemision.cerrarGuiaRemision()}",
					data:{id : _id},
					success:function(result){
						scroll(0,0);
						if(result.status == 1){							
							$.showMessage("success",result.message,GuiaRemisiones.capaDeMensajes,true);
							GuiaRemisiones.cancelarGuiaRemision();
						}else{
							$.showMessage("error",result.message,GuiaRemisiones.capaDeMensajes,true);
							GuiaRemisiones.cancelarGuiaRemision();
						}
					},
					complete:function(){
						scroll(0,0);
						GuiaRemisiones.cancelarGuiaRemision();						
					}
				})
			}
		},
		cancelarGuiaRemision : function(){	
			location.reload();
		},
}
$(function(){
	GuiaRemisiones.init();
});
</script>