#{pagination.pag lista:listAlmacen, titulo:'Almacen', cab:'Id,Celda,Cantidad,Estado,Producto,Cod. Producto,Proveedor,Foto', cantidadPestana:15, itemPag:500, pag:pag}
<tr>
<td key="coAlmacen" valor="${item.coAlmacen}">${item.coAlmacen}</td>
<td key="deCelda" valor="${item.deCelda}">${item.deCelda}</td>
<td key="cantidad" valor="${item.cantidad}">${item.cantidad}</td>
<td key="stAlmacen" valor="${item.stAlmacen}">${item.stAlmacen == '1' ? 'Libre' : item.stAlmacen == '2' ? 'Ocupado' : 'Eliminado'}</td>
<td key="producto" valor="${item?.vmdbDetalleProducto?.vmdbProducto?.deNombre}">${item?.vmdbDetalleProducto?.vmdbProducto?.deNombre}</td>  
<td key="codigo" valor="${item?.vmdbDetalleProducto?.codigoProducto}">${item?.vmdbDetalleProducto?.codigoProducto}</td>
<td key="proveedor" valor="${item?.vmdbDetalleProducto?.vmdbProveedor?.deEmpresa}">${item?.vmdbDetalleProducto?.vmdbProveedor?.deEmpresa}</td>
<td>
	#{if item.stAlmacen=='2'}
	<a class="btn btn-mini" id="i_${item.coAlmacen}"><i class="icon-eye-open"></i> Foto</a>
	#{/if}
</td>
</tr>
#{/pagination.pag}