#{extends 'main.html' /}
#{set title:'Producto a Celda' /}
<div id="mensajes"></div>
<div class="well">
	<fieldset>
		<legend>:: Ingresar Producto a Celda :: </legend>
		<form action="" class="form-horizontal" onsubmit="return false;" id="formularioProductoCelda">
			<div class="control-group">
				<label class="control-label required-form" for="cboProducto">Producto</label>
				<div class="controls">
					<select id="cboProducto" type="select-one" name="cboProducto" class="span6" autocomplete="off" >
					  <option value="00">Seleccione</option>	
					  #{list listProducto,as:'producto'}
					  <option value="${producto.coProducto}">${producto.deNombre}</option>
					  #{/list}								               
					</select>
					----<a class="btn btn-mini" id="imagenProducto"><i class="icon-eye-open"></i> Foto</a>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label required-form" for="cboProveedor">Proveedor</label>
				<div style="margin-left:29px;">
				  <div class="controls">
					<select id="cboProveedor" type="select-one" name="cboProveedor" class="span6" autocomplete="off" >
					    <option value="00">Seleccione</option>
					</select>
				  </div>
			    </div>
			</div>															
			<div class="control-group">
				<label class="control-label required-form" for="celda">Celda</label>
				<div class="controls">
					<select id="cboCelda" type="select-one" name="cboCelda" class="span2" autocomplete="off" >
					  <option value="00">Seleccione</option>	
					  #{list listCelda,as:'celda'}
					  <option value="${celda.coAlmacen}">${celda.deCelda}</option>
					  #{/list}								               
					</select>
				</div>
			</div>	
			<div class="control-group">
				<label class="control-label required-form" for="cantidad">Cantidad</label>
				<div style="margin-left:29px;">
				<div class="controls">
					<div class="input-append">
						<input type="text" name="cantidad" id="cantidad" class="span2" autocomplete="off"/>
					</div>
				</div>
				</div>
			</div>		
			<div class="form-actions">
				<button type="submit" id="btnGuardar" class="btn btn-primary">Guardar</button>
				<button type="button" id="btnCancelar" class="btn">Cancelar</button>				
			</div>
		</form>		
	</fieldset>
</div>
<form action="" onsubmit="return false" class="well form-search" id="buscarAlmacen">
	<input type="text" name="txtNombreBuscar" id="txtNombreBuscar" class="input-xlarge" placeholder="Nombre de la celda" autocomplete="off">
	<button type="submit" class="btn">Buscar</button>
	<img id="loadBuscar" src="@{'/public/images/ajax-loaderCombo.gif'}" class="hide">
</form>
<div class="modal hide" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h3>Foto</h3>
  </div>
  <div class="modal-body">
  <div id="imagen"></div>
  </div>
</div>
#{pagination.pag lista:listAlmacen, titulo:'Almacen', cab:'Id,Celda,Cantidad,Estado,Producto,Cod. Producto,Proveedor,Foto', cantidadPestana:15, itemPag:500}
<tr>
<td key="coAlmacen" valor="${item.coAlmacen}">${item.coAlmacen}</td>
<td key="deCelda" valor="${item.deCelda}">${item.deCelda}</td>
<td key="cantidad" valor="${item.cantidad}">${item.cantidad}</td>
<td key="stAlmacen" valor="${item.stAlmacen}">${item.stAlmacen == '1' ? 'Libre' : item.stAlmacen == '2' ? 'Ocupado' : 'Eliminado'}</td>
<td key="producto" valor="${item?.vmdbDetalleProducto?.vmdbProducto?.deNombre}">${item?.vmdbDetalleProducto?.vmdbProducto?.deNombre}</td>  
<td key="codigo" valor="${item?.vmdbDetalleProducto?.codigoProducto}">${item?.vmdbDetalleProducto?.codigoProducto}</td>
<td key="proveedor" valor="${item?.vmdbDetalleProducto?.vmdbProveedor?.deEmpresa}">${item?.vmdbDetalleProducto?.vmdbProveedor?.deEmpresa}</td>
<td>
	#{if item.stAlmacen=='2'}
	<a class="btn btn-mini" id="i_${item.coAlmacen}"><i class="icon-eye-open"></i> Foto</a>
	#{/if}
</td>
</tr>
#{/pagination.pag}
<script type="text/javascript">
var rutaPaginacionAlmacen = '@{Almacen.paginacion()}';
var IngresoACeldas = {
		capaDeMensajes : "mensajes",
		init : function(){
			$("#cboProducto").select2();
			$("#cboCelda").select2();
			$("#cantidad").numeric();
			$(document).delegate("#cboProducto","change",IngresoACeldas.cargarProveedoresByProducto);		
			$("#buscarAlmacen").submit(IngresoACeldas.buscarCelda);
			$("#btnCancelar").click(IngresoACeldas.cancelarIngresoACelda);								
			$("#btnGuardar").click(IngresoACeldas.guardarIngresoACelda);
			$(document).delegate("a[id*='i_']","click",IngresoACeldas.verImagen);
			$(document).delegate("a[id='imagenProducto']","click",IngresoACeldas.verImagenDelCombo);
		},
		verImagenDelCombo : function(){
			_id = $("#imagenProducto").val();
			if(_id!=''){
				$("#imagen").empty().html('<img src="@{Producto.verFoto()}?azar='+Math.random()+'&deFoto='+_id+'.jpg'+'" />');			
				$('#myModal').modal();
			}else{
				scroll(0,0);
				$.showMessage("error","Para ver la foto tiene que elegir un producto",IngresoACeldas.capaDeMensajes,true);
				return false;
			}			
		},
		verImagen : function(){
			_this = this;
			_id = this.id.substring(2);
		    $("#imagen").empty().html('<img src="@{Almacen.verFoto()}?azar='+Math.random()+'&coAlmacen='+_id+'" />');			
			$('#myModal').modal();
		},
		cargarProveedoresByProducto : function(){
			if($("#cboProducto").val() !="00"){			
				$.ajax({
					url:"@{NotaEntrega.cargarProveedoresByProductoParaAlmacen()}",
					async: false,
					data:{
						coProducto : $("#cboProducto").val(),
					},
					success:function(RESULT){	
						var html ='<option value="00">Seleccione</option>'
						$.each(RESULT,function(key,value){	
							html+='<option value="'+value.vmdbProveedor.coProveedor+'">';
							html+=value.vmdbProveedor.deEmpresa;
							html+='</option>';							
						});
						$("#cboProveedor").html(html);
						$("#imagenProducto").val($("#cboProducto").val());
					}
				});	
			}else{
				var html ='<option value="00">Seleccione</option>'
				$("#cboProveedor").html(html);
				$("#imagenProducto").val("");
			}			
		},
		buscarCelda : function(e){						
			e.preventDefault();
			$("#loadBuscar").show();
			$('#paginationAlmacen').load('@{IngresoACelda.buscar()}?azar='+Math.random(),
		    $("#buscarAlmacen").serialize(),
			function() {
				$("#loadBuscar").hide();
			});
		},				
		listar : function(){
			$("#txtNombreBuscar").val('');
			$("#loadBuscar").show();
			$('#paginationAlmacen').load('@{IngresoACelda.buscar()}?azar='+Math.random(),
			$("#buscarAlmacen").serialize(),
			function() {
				$("#loadBuscar").hide();
			});
		},					
		guardarIngresoACelda : function(){
			var coProveedorCell = $("#cboProveedor").val();					
			var coProductoCell = $("#cboProducto").val();
		    var cantidadCell = $("#cantidad").val();
		    var coAlmacenCell = $("#cboCelda").val();	
		    if($("#cboProducto").val()=="00"){
		    	scroll(0,0);
				$.showMessage("error","Tiene que seleccionar un producto",IngresoACeldas.capaDeMensajes,true);
				return false;
		    }else{
		    	if($("#cboProveedor").val()=="00"){
		    		scroll(0,0);
					$.showMessage("error","Seleccione el proveedor",IngresoACeldas.capaDeMensajes,true);
					return false;
		    	}else{
		    		if($("#cboCelda").val()=="00"){
		    			scroll(0,0);
						$.showMessage("error","Seleccione una celda",IngresoACeldas.capaDeMensajes,true);
						return false;
		    		}else{
		    			if($.trim($('#cantidad').val())==''){
		    				scroll(0,0);
							$.showMessage("error","Ingrese la cantidad del producto",IngresoACeldas.capaDeMensajes,true);
							return false;
		    			}else{
		    				$.ajax({
		    					url:"@{IngresoACelda.applyAsignarCelda()}",
		    					data:{
		    						coProveedorCell   : coProveedorCell,
		    						coProductoCell    : coProductoCell,
		    						cantidadCell      : cantidadCell,
		    						coAlmacenCell     : coAlmacenCell
		    					},
		    					success:function(result){
		    						if(result.correcto == "true"){	
		    							scroll(0,0);
		    							$.showMessage("success",result.message,IngresoACeldas.capaDeMensajes,true);		    							
		    						}										
		    						location.reload();
		    					}
		    				});
		    			}		    			
		    		}
		    	}		    	
		    }			
		},					
		cancelarIngresoACelda : function(){			
			scroll(0,0);
	    	location.reload();
		},
}
$(function(){
	IngresoACeldas.init();
});
</script>