#{pagination.pag lista:listMaterial, titulo:'Material', cab:'Id,Nombre,Estado,Opc', cantidadPestana:15, itemPag:500, pag:pag}
<tr>
<td key="coMaterial" valor="${item.coMaterial}">${item.coMaterial}</td>
<td key="deNombre" valor="${item.deNombre}">${item.deNombre}</td>
<td key="stMaterial" valor="${item.stMaterial}">${item.stMaterial == '1' ? 'Activo' : 'Inactivo'}</td>
<td>
	<a class="btn btn-mini" id="update_${item.coMaterial}"><i class="icon-pencil" title="Editar"></i></a>
	<a class="btn btn-mini" id="eliminar_${item.coMaterial}"><i class="icon-trash" title="Eliminar"></i></a>
</td>
</tr>
#{/pagination.pag}