#{extends 'main.html' /}
#{set title:'Nota de Entrega' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/bootstrap-datepicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/datepicker.css'}">
#{/set}
<meta charset="UTF-8"/>
<div id="mensajes"></div>
<div class="well">
	<fieldset>
		<legend>:: Nota de Entrega :: </legend>
		<div id="alert" class="alert alert-error" style="display: none;"><strong></strong>
		</div>
		<form class="form-horizontal" id="formularioNotaEntrega">
			<input name="coNotaEntrega" type="hidden" id="coNotaEntrega" value="" autocomplete="off">
			<div class="control-group">		
			    <div class="row">
					<div class="span5">
						<div class="control-group">
							<label class="control-label">Nro. Doc.</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="nroNotaEntrega" name="nroNotaEntrega" autocomplete="off"/>
								</div>
							</div>
						</div>												
					</div>
					<div class="span">
					    <div class="control-group">
							<label class="control-label">Fecha Nota Entrega</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="daFechaNE" name="daFechaNE" autocomplete="off" />
								</div>
							</div>
						</div>					    					    				
					</div>																																				
				</div>				
				<div class="row">
				    <div class="span5">
					    <div class="control-group">
							<label class="control-label" for="coCliente">Cliente</label>
							<div class="controls">
								<select name="coCliente" id="coCliente" class="select" autocomplete="off">
									<option value="00">Seleccione</option>
									#{list listCliente,as:'cliente'}
									<option value="${cliente.coCliente}">${cliente.deNombre}</option>
									#{/list}
								</select>								
							</div>
						</div>						
					</div>					
					<div class="span">
					    <div class="control-group">
							<label class="control-label">Paciente</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="dePaciente" name="dePaciente" autocomplete="off"/>
								</div>
							</div>
						</div>					    		
					</div>																													
				</div>
				<div class="row">
					<div class="span5">
					    <div class="control-group">
							<label class="control-label">RUC</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="ruc" name="ruc" autocomplete="off" readonly="readonly"/>
								</div>
							</div>
						</div>						
					</div>
					<div class="span">
					    <div class="control-group">
							<label class="control-label">Dr(a)</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="deDoctora" name="deDoctora" autocomplete="off"/>
								</div>
							</div>
						</div>														
					</div>																																				
				</div>
				<div class="row">
					<div class="span5">
					    <div class="control-group">
							<label class="control-label">Ciudad</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="deCiudad" name="deCiudad" autocomplete="off" readonly="readonly"/>
								</div>
							</div>
						</div>						
					</div>										
					<div class="span">
					    <div class="control-group">
							<label class="control-label">Fecha Cirugia</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="daFechaCirugia" name="daFechaCirugia" autocomplete="off" />
								</div>
							</div>
						</div>						
					</div>																																				
				</div>	
				<div class="row">
					<div class="span5">
					    <div class="control-group">
							<label class="control-label">Telefono</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="deTelefono" name="deTelefono" autocomplete="off" readonly="readonly"/>
								</div>
							</div>
						</div>						
					</div>										
					<div class="span">
					    <div class="control-group">
							<label class="control-label">Tipo Seguro</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="deTipoSeguro" name="deTipoSeguro" autocomplete="off"/>
								</div>
							</div>
						</div>						
					</div>																																				
				</div>
				<div class="row">
					<div class="span5">
					    <div class="control-group">
							<label class="control-label">Agente</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="deAgente" name="deAgente" autocomplete="off" readonly="readonly"/>
								</div>
							</div>
						</div>						
					</div>										
					<div class="span">
					    <div class="control-group">
							<label class="control-label">Hist. Clinica</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="deHistoriaClinica" name="deHistoriaClinica" autocomplete="off"/>
								</div>
							</div>
						</div>						
					</div>																																				
				</div>
				<div class="row">
					<div class="span5">
					    <div class="control-group">
							<label class="control-label">Domicilio</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="deDireccion" name="deDireccion" autocomplete="off" readonly="readonly"/>
								</div>
							</div>
						</div>						
					</div>										
					<div class="span">
					    <div class="control-group">
							<label class="control-label">Procedencia</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="deProcedencia" name="deProcedencia" autocomplete="off"/>
								</div>
							</div>
						</div>						
					</div>																																				
				</div>								
				<div class="row">
					<div class="span5">
					    <div class="control-group">
							<label class="control-label">Zona</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="deZona" name="deZona" autocomplete="off" readonly="readonly"/>
								</div>
							</div>
						</div>						
					</div>										
					<div class="span">
						<div class="control-group">
							<label class="control-label" for="coProductoCompuesto">Prod. Compuesto 01</label>
							<div class="controls">
								<select name="coProductoCompuesto" id="coProductoCompuesto" class="select" autocomplete="off">
									<option value="00">Seleccione</option>
									#{list listProductoCompuesto,as:'pc'}
									<option value="${pc.coProductoCompuesto}">${pc.deNombre}</option>
									#{/list}
								</select>	
								$ <input type="text" class="input-mini" id="pvprodCompuesto" value="0" readonly="readonly">							
							</div>							
						</div>
					</div>																																				
				</div>
				<div class="row">
					<div class="span5">
					    <div class="control-group">
							<label class="control-label">Lugar de entrega</label>
							<div class="controls">
							    <textarea id="deLugarEntrega" name="deLugarEntrega" rows="" cols="" placeholder="Lugar de entrega..." autocomplete="off"></textarea>
							</div>
						</div>						
					</div>											
					<div class="span">
					    <div class="control-group">
							<label class="control-label" for="coProductoCompuesto">Prod. Compuesto 02</label>
							<div class="controls">
								<select name="coProductoCompuesto_02" id="coProductoCompuesto_02" class="select" autocomplete="off">
									<option value="00">Seleccione</option>	
									#{list listProductoCompuesto,as:'pc'}
									<option value="${pc.coProductoCompuesto}">${pc.deNombre}</option>
									#{/list}								
								</select>	
								$ <input type="text" class="input-mini" id="pvprodCompuesto_02" value="0" readonly="readonly">							
							</div>							
						</div>						
					</div>																																																	
				</div>				
				<div class="row">
					<div class="span5">
					    <div class="control-group">
							<label class="control-label">Proforma</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="deProforma" name="deProforma" autocomplete="off"/>
								</div>
							</div>
						</div>		
					</div>											
					<div class="span">
					    <div class="control-group">
							<label class="control-label" for="coProductoCompuesto">Prod. Compuesto 03</label>
							<div class="controls">
								<select name="coProductoCompuesto_03" id="coProductoCompuesto_03" class="select" autocomplete="off">
									<option value="00">Seleccione</option>
									#{list listProductoCompuesto,as:'pc'}
									<option value="${pc.coProductoCompuesto}">${pc.deNombre}</option>
									#{/list}
								</select>	
								$ <input type="text" class="input-mini" id="pvprodCompuesto_03" value="0" readonly="readonly">							
							</div>							
						</div>						
					</div>																																																	
				</div>												
			</div>	
			<div class="control-group">  
				<div class="accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
				      		<a class="accordion-toggle">
				      			Agregar Producto
				      		</a>
				    	</div>		    
					   	<div id="1" class="accordion-body collapse in" style="height: height: 0px; ">
					    	<div class="accordion-inner">
								<div class="row">
									<div class="span">
										<div class="control-group">
										    <label class="control-label required-form" for="cboProducto">Producto</label>
											<div class="controls">
												<select id="cboProducto" type="select-one" name="cboProducto" class="span6" autocomplete="off" >
												    <option value="00">Seleccione</option>	
												    #{list listProducto,as:'producto'}
									                <option value="${producto.coProducto}">${producto.deNombre}</option>
									                #{/list}								               
												</select>
												----<a class="btn btn-mini" id="imagenProducto"><i class="icon-eye-open"></i> Foto</a>
											</div>											
										</div>
									</div>																																																													
								</div>
								<div class="row">	
								    <div class="span">
										<div class="control-group">
										    <label class="control-label required-form" for="cboProveedor">Proveedor</label>
										    <div style="margin-left:29px;">
										    <input name="stockD" type="hidden" id="stockD" value="" autocomplete="off">
											<div class="controls">
												<select id="cboProveedor" type="select-one" name="cboProveedor" class="span6" autocomplete="off" >
												<option value="00">Seleccione</option>
												</select>
											</div>
											</div>
										</div>
									</div>		
									<div class="span">
										<div class="control-group">
											<label class="control-label required-form" for="codProdProveedor">Cod. Prod. Proveedor</label>
											<div style="margin-left:29px;">
											<div class="controls">
												<div class="input-append">
													<input type="text" id="codProdProveedor" name="codProdProveedor" class="span1_1" autocomplete="off" readonly="readonly"/> 
												</div>
											</div>
											</div>
										</div>
									</div>	
									<div class="span">
										<div class="control-group">
											<label class="control-label required-form" for="precioVenta">$ P. Venta</label>											
											<div class="controls">
												<div class="input-append">
													<input type="text" id="precioVenta" name="precioVenta" class="span1_1" autocomplete="off" readonly="readonly"/> 
												</div>
											</div>
										</div>
									</div>					
									<div class="span">
										<div class="control-group">
											<label class="control-label required-form" for="cantidadVenta">Cant. para Venta</label>
											<div class="controls">
												<div class="input-append">
													<input type="text" id="cantidadVenta" name="cantidadVenta" class="span1_1" autocomplete="off" /> 
												</div>
											</div>
										</div>
									</div>																												
								</div>
								<div class="row">
								   <div class="control-group">
								      <div style="margin-left:29px;">
								      <div class="controls">
									     <div class="span5">
										    <button class="btn" id="btnAgregarProductos" type="button"><i class="icon-ok"></i>Agregar</button>
									     </div>	
									 </div>
								   </div>							
								   </div>
								</div>								
					      	</div>
					   	</div>
					</div>
				</div>
			</div>									
			<div class="form-actions">
				<button type="button" id="btnGuardar" class="btn btn-primary">Guardar</button>				
				<button type="button" id="btnCancelar" class="btn">Cancelar</button>			
			</div>
		</form>		
	</fieldset>
</div>
<table class="table table-striped table-bordered table-condensed" >
	<thead>
		<tr>		
			<th style="color:#0088CC;">COD. PROD. PROVEEDOR</th>
			<th style="color:#0088CC;">DESCRIPCION</th>
			<th style="color:#0088CC;">CANTIDAD</th>
			<th style="color:#0088CC;">$ PRECIO</th>
			<th style="color:#0088CC;">$ IMPORTE</th>
		</tr>
	</thead>
	<tbody id="tabla-de-productos-de-venta"></tbody>	
</table>

<table>
<tr>
   <td style="font-weight:bold;">Total Bruto</td>
      <td><input type="text" class="input-mini" id="totalBruto" value="0" readonly="readonly">
   </td>   
   <td style="font-weight:bold;">Total Descuento</td>
      <td><input type="text" class="input-mini totalDescuentoLabel" id="totalDescuento" value="0">
   </td>
   <td style="font-weight:bold;">Base Imponible</td>
      <td><input type="text" class="input-mini" id="baseImponible" value="0" readonly="readonly">
   </td>
   <td style="font-weight:bold;">IVA</td>
      <td><input type="text" class="input-mini" id="iva" value="0" readonly="readonly">
   </td>
   <td style="font-weight:bold;">Neto a Pagar</td>
      <td><input type="text" class="input-mini" id="netoPagar" value="0" readonly="readonly">
   </td>                          
</tr>
</table>	

<form action="" onsubmit="return false" class="well form-search" id="buscarNotaEntrega">
	<input type="text" name="txtNombreBuscar" id="txtNombreBuscar" class="input-xlarge" placeholder="Nro. documento" autocomplete="off">
	<button type="submit" class="btn">Buscar</button>
	<img id="loadBuscar" src="@{'/public/images/ajax-loaderCombo.gif'}" class="hide">
</form>

<div class="modal hide" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h3>Foto</h3>
  </div>
  <div class="modal-body">
  <div id="imagen"></div>
  </div>
</div>

#{pagination.pag lista:listNotaEntrega, titulo:'NotaEntrega', cab:'Id,Nro. Doc,Cliente,Fecha,Monto,Estado,Opc', cantidadPestana:15, itemPag:500}
<tr>
<td key="coNotaEntrega" valor="${item.coNotaEntrega}">${item.coNotaEntrega}</td>
<td key="nroNotaEntrega" valor="${item.nroNotaEntrega}">${item?.nroNotaEntrega}</td>
<td key="coCliente" valor="${item.vmdbCliente.coCliente}">${item.vmdbCliente.deNombre}</td>
<td key="daFechaNE" valor="${item.daFechaNotaEntrega}">${item.daFechaNotaEntrega.format('dd/MM/yyyy')}</td>
<td key="netoPagar" valor="${item.netoPagar}">${item?.netoPagar}</td>
<td key="stNotaEntrega" valor="${item.stNotaEntrega}">${item.stNotaEntrega == '1' ? 'Activo' : 'Inactivo'}</td>
<td>
    #{if item.stNotaEntrega=='1'}
	<a class="btn btn-mini" id="u_${item.coNotaEntrega}"><i class="icon-pencil" title="Editar"></i></a>
	<a class="btn btn-mini" id="e_${item.coNotaEntrega}"><i class="icon-trash" title="Eliminar"></i></a>
    <a class="btn btn-mini" id="c_${item.coNotaEntrega}"><i class="icon-book" title="Cerrar nota de entrega sin facturar"></i></a>
<!--     <a class="btn btn-mini" id="d_${item.coNotaEntrega}"><i class="icon-shopping-cart" title="Despachar Nota de Entrega"></i></a> -->
	#{/if}
	<a href="@{NotaEntrega.viewDetalleNotaEntrega(item.coNotaEntrega)}" class="btn btn-mini" title="Detalle"><i class="icon-eye-open"></i></a>
</td>
</tr>
#{/pagination.pag}
<script type="text/javascript">
var rutaPaginacionNotaEntrega = '@{NotaEntrega.paginacion()}';
var NotaEntregas = {
		capaDeMensajes : "mensajes",
		init : function(){
			$("#daFechaNE").datepicker({format: 'dd/mm/yyyy',autoclose: true,language: 'es'});
			$("#daFechaCirugia").datepicker({format: 'dd/mm/yyyy',autoclose: true,language: 'es'});
			$('#cboProducto').select2();	
			$("#cantidadVenta").numeric();
			$('#coProductoCompuesto_02').attr("disabled", true);
			$('#coProductoCompuesto_03').attr("disabled", true);
			$(document).delegate("#coCliente","change",NotaEntregas.cargarDatosDelCliente);
			$(document).delegate("#cboProducto","change",NotaEntregas.cargarProveedoresByProducto);			
			$(document).delegate("#cboProveedor","change",NotaEntregas.cargarCodigoProductoEnProveedorYPVenta);
			$(document).delegate("#btnAgregarProductos","click",NotaEntregas.agregarProductoADetalle);
			$(document).delegate('.totalDescuentoLabel','keyup',NotaEntregas.calculaBaseImponible);
			$("#btnCancelar").click(NotaEntregas.cancelarNotaEntrega);
			$(document).delegate("#coProductoCompuesto","change",NotaEntregas.cargarPvDeProductoCompuesto);
			$(document).delegate("#coProductoCompuesto_02","change",NotaEntregas.cargarPvDeProductoCompuesto_02);
			$(document).delegate("#coProductoCompuesto_03","change",NotaEntregas.cargarPvDeProductoCompuesto_03);
			$("#btnGuardar").click(NotaEntregas.guardarNotaEntrega);
			$(document).delegate("a[name='newDelete']","click",NotaEntregas.removeRow);
			$("#buscarNotaEntrega").submit(NotaEntregas.buscarNotaEntrega);
			$(document).delegate("a[id*='u_']","click",NotaEntregas.editarNotaEntrega);
			$(document).delegate("a[id*='c_']","click",NotaEntregas.cerrarNotaEntregaSinFactura);
			$(document).delegate("a[id*='d_']","click",NotaEntregas.despacharNotaEntrega);
			$(document).delegate("a[name='oldDelete']","click",NotaEntregas.eliminarProductoDeLaNotaEntrega);
			$(document).delegate("a[id='imagenProducto']","click",NotaEntregas.verImagenDelCombo);
			$(document).delegate("a[id*='i_']","click",NotaEntregas.verImagen);
			$(document).delegate("a[id*='ni_']","click",NotaEntregas.verImagenNew);
			$(document).delegate("a[id*='e_']","click",NotaEntregas.eliminar);
			
			//$(document).delegate("a[id*='c_']","click",NotaEntregas.cerrarFactura);	
		},	
		verImagenNew : function(){
			_this = this;
			_id = this.id.substring(3);
			$("#imagen").empty().html('<img src="@{Producto.verFoto()}?azar='+Math.random()+'&deFoto='+_id+'.jpg'+'" />');			
			$('#myModal').modal();
		},
		verImagen : function(){
			_this = this;
			_id = this.id.substring(2);
			$("#imagen").empty().html('<img src="@{Producto.verFoto()}?azar='+Math.random()+'&deFoto='+_id+'.jpg'+'" />');			
			$('#myModal').modal();
		},
		verImagenDelCombo : function(){
			_id = $("#imagenProducto").val();
			if(_id!=''){
				$("#imagen").empty().html('<img src="@{Producto.verFoto()}?azar='+Math.random()+'&deFoto='+_id+'.jpg'+'" />');			
				$('#myModal').modal();
			}else{
				scroll(0,0);
				$.showMessage("error","Para ver la foto tiene que elegir un producto",NotaEntregas.capaDeMensajes,true);
				return false;
			}			
		},
		despacharNotaEntrega : function(){
			if(confirm("Desea despachar la Nota de Entrega? ")){
				_this = this;
				_id = this.id.substring(2);
				$.ajax({
					url:"@{NotaEntrega.despacharNotaEntrega()}",
					data:{id : _id},
					success:function(result){
						scroll(0,0);
						if(result.status == 1){							
							$.showMessage("success",result.message,NotaEntregas.capaDeMensajes,true);
							$(_this).parents("tr").remove();
						}else{
							$.showMessage("error",result.message,NotaEntregas.capaDeMensajes,true);
						}
					}
				})
			}									
		},
		eliminarProductoDeLaNotaEntrega : function(){
			_this = this;
			_a = this.id.substring(4);
			if(confirm("Desea eliminar esta información ? ")){
				$.ajax({
					url: '@{NotaEntrega.eliminarProductoDeLaNotaEntregaById()}',
					data:{id : _a },
					success:function(result){
						if(result.status == 1){
							$.showMessage("success",result.message,NotaEntregas.capaDeMensajes,true);
							$(_this).parents("tr").remove();
						}else{
							$.showMessage("error",result.message,NotaEntregas.capaDeMensajes,true);
						}
						NotaEntregas.calcularTotales();
					}				
				});			
			}			
		},
		cerrarNotaEntregaSinFactura : function(){
			if(confirm("Desea cerrar la nota de entrega sin facturar? ")){
				_this = this;
				_id = this.id.substring(2);
				$.ajax({
					url:"@{NotaEntrega.cerrarNotaEntregaSinFactura()}",
					data:{id : _id},
					success:function(result){
						scroll(0,0);
						if(result.status == 1){							
							$.showMessage("success",result.message,NotaEntregas.capaDeMensajes,true);
							$(_this).parents("tr").remove();
						}else{
							$.showMessage("error",result.message,NotaEntregas.capaDeMensajes,true);
						}
					}
				})
			}									
		},
		cargarPvDeProductoCompuesto : function(){
			if($("#coProductoCompuesto").val() !="00"){			
				$.ajax({
					url:"@{NotaEntrega.cargarPvDeProductoCompuesto()}",  
					async: false,
					data:{
						coProductoCompuesto : $("#coProductoCompuesto").val(),
					},
					success:function(RESULT){							
						$("#pvprodCompuesto").val(RESULT.pvprodCompuesto);																		
					}
				});					
				$('#coProductoCompuesto_02').removeAttr("disabled");
				$('#coProductoCompuesto_02').val("00");						
				$("#pvprodCompuesto_02").val("0");
				$('#coProductoCompuesto_03').attr("disabled", true);
				$('#coProductoCompuesto_03').val("00");						
				$("#pvprodCompuesto_03").val("0");
				$("#totalBruto").val(parseFloat($("#pvprodCompuesto").val()) + parseFloat($("#pvprodCompuesto_02").val()) + parseFloat($("#pvprodCompuesto_03").val()));
			}else{				
				$("#pvprodCompuesto").val("0");	
				$("#totalBruto").val("0");
				$('#coProductoCompuesto_02').attr("disabled", true);
				$('#coProductoCompuesto_02').val("00");						
				$("#pvprodCompuesto_02").val("0");
				$('#coProductoCompuesto_03').attr("disabled", true);
				$('#coProductoCompuesto_03').val("00");						
				$("#pvprodCompuesto_03").val("0");	
				$("#totalBruto").val(parseFloat($("#pvprodCompuesto").val()) + parseFloat($("#pvprodCompuesto_02").val()) + parseFloat($("#pvprodCompuesto_03").val()));
			}
			NotaEntregas.calcularTotales();
		},
		cargarPvDeProductoCompuesto_02 : function(){
			if($("#coProductoCompuesto_02").val() !="00"){
				if(parseInt($('#coProductoCompuesto_02').val()) != parseInt($("#coProductoCompuesto").val())){
					$.ajax({
						url:"@{NotaEntrega.cargarPvDeProductoCompuesto_02()}",  
						async: false,
						data:{
							coProductoCompuesto_02 : $("#coProductoCompuesto_02").val(),
						},
						success:function(RESULT){							
							$("#pvprodCompuesto_02").val(RESULT.pvprodCompuesto_02);																		
						}
					});						
					$('#coProductoCompuesto_03').removeAttr("disabled");
					$('#coProductoCompuesto_03').val("00");
					$("#pvprodCompuesto_03").val("0");
					$("#totalBruto").val(parseFloat($("#pvprodCompuesto").val()) + parseFloat($("#pvprodCompuesto_02").val()) + parseFloat($("#pvprodCompuesto_03").val()));
				}else{
					$.showMessage("success","El producto ya fue seleccionado",NotaEntregas.capaDeMensajes,true);					
					$('#coProductoCompuesto_02').val("00");						
					$("#pvprodCompuesto_02").val("0");
					$('#coProductoCompuesto_03').val("00");						
					$("#pvprodCompuesto_03").val("0");
					$('#coProductoCompuesto_03').attr("disabled", true);					
					$("#totalBruto").val(parseFloat($("#pvprodCompuesto").val()) + parseFloat($("#pvprodCompuesto_02").val()) + parseFloat($("#pvprodCompuesto_03").val()));
				}				
			}else{
				$("#pvprodCompuesto_02").val("0");					
				$('#coProductoCompuesto_03').val("00");
				$("#pvprodCompuesto_03").val("0");	
				$('#coProductoCompuesto_03').attr("disabled", true);
				$("#totalBruto").val(parseFloat($("#pvprodCompuesto").val()) + parseFloat($("#pvprodCompuesto_02").val()) + parseFloat($("#pvprodCompuesto_03").val()));
			}
			NotaEntregas.calcularTotales();
		},
		cargarPvDeProductoCompuesto_03 : function(){
			if($("#coProductoCompuesto_03").val() !="00"){
				if(parseInt($('#coProductoCompuesto_03').val()) != parseInt($("#coProductoCompuesto_02").val())  &&  parseInt($('#coProductoCompuesto_03').val()) != parseInt($("#coProductoCompuesto").val())){
					$.ajax({
						url:"@{NotaEntrega.cargarPvDeProductoCompuesto_03()}",  
						async: false,
						data:{
							coProductoCompuesto_03 : $("#coProductoCompuesto_03").val(),
						},
						success:function(RESULT){							
							$("#pvprodCompuesto_03").val(RESULT.pvprodCompuesto_03);																		
						}
					});	
					$("#totalBruto").val(parseFloat($("#pvprodCompuesto").val()) + parseFloat($("#pvprodCompuesto_02").val()) + parseFloat($("#pvprodCompuesto_03").val()));
				}else{
					$.showMessage("success","El producto ya fue seleccionado",NotaEntregas.capaDeMensajes,true);					
					$('#coProductoCompuesto_03').val("00");
					$("#pvprodCompuesto_03").val("0");
					$("#totalBruto").val(parseFloat($("#pvprodCompuesto").val()) + parseFloat($("#pvprodCompuesto_02").val()) + parseFloat($("#pvprodCompuesto_03").val()));
				}				
			}else{
				$("#pvprodCompuesto_03").val("0");	
				$("#totalBruto").val(parseFloat($("#pvprodCompuesto").val()) + parseFloat($("#pvprodCompuesto_02").val()) + parseFloat($("#pvprodCompuesto_03").val()));
			}
			NotaEntregas.calcularTotales();
		},
		calculaBaseImponible : function(){
			var bi = parseFloat($("#totalBruto").val()) - parseFloat($("#totalDescuento").val());
	    	$("#baseImponible").val(bi);
	    	$("#iva").val(parseFloat(bi*0.12).toFixed(2));
	    	$("#netoPagar").val(parseFloat(bi + bi*0.12).toFixed(2));
		},
		cargarDatosDelCliente : function(){
			if($("#coCliente").val() !="00"){			
				$.ajax({
					url:"@{NotaEntrega.cargarDatosDelCliente()}",
					async: false,
					data:{
						coCliente : $("#coCliente").val(),
					},
					success:function(RESULT){							
						$("#ruc").val(RESULT.ruc);
						$("#deCiudad").val(RESULT.deCiudad);
						$("#deTelefono").val(RESULT.deTelefono);
						$("#deAgente").val(RESULT.deAgente);
						$("#deDireccion").val(RESULT.deDireccion);
						$("#deZona").val(RESULT.deZona);																		
					}
				});	
			}else{
				$("#ruc").val("");
				$("#deCiudad").val("");
				$("#deTelefono").val("");
				$("#deAgente").val("");
				$("#deDireccion").val("");
				$("#deZona").val("");		
			}	
		},
		cargarProveedoresByProducto : function(){
			if($("#cboProducto").val() !="00"){			
				$.ajax({
					url:"@{NotaEntrega.cargarProveedoresByProducto()}",
					async: false,
					data:{
						coProducto : $("#cboProducto").val(),
					},
					success:function(RESULT){	
						var html ='<option value="00">Seleccione</option>'
						$.each(RESULT,function(key,value){	
							html+='<option value="'+value.vmdbProveedor.coProveedor+'">';
							html+=value.vmdbProveedor.deEmpresa+'  |---->  STOCK : '+value.cantidad;
							html+='</option>';							
						});
						$("#cboProveedor").html(html);
						$("#imagenProducto").val($("#cboProducto").val());
					}
				});	
			}else{
				var html ='<option value="00">Seleccione</option>'
				$("#cboProveedor").html(html);
				$("#imagenProducto").val("");
			}			
		},
		cargarCodigoProductoEnProveedorYPVenta : function(){
			  if($("#cboProducto").val() !="00"){
				if($("#cboProveedor").val() !="00"){			
					$.ajax({
						url:"@{NotaEntrega.cargarCodigoProductoEnProveedorYPVenta()}",
						async: false,
						data:{
							coProducto : $("#cboProducto").val(),
							coProveedor : $("#cboProveedor").val()
						},
						success:function(RESULT){							
							$("#codProdProveedor").val(RESULT.codProdProveedor);
							$("#precioVenta").val(RESULT.precioVenta);
							$("#stockD").val(RESULT.stockD);
						}
					});	
				}else{
					$("#codProdProveedor").val("");
					$("#precioVenta").val("");
					$("#stockD").val("");
				}
			  }else{
				 scroll(0,0);
				 $.showMessage("error","Tiene que seleccionar un producto",NotaEntregas.capaDeMensajes,true);
			  }
	    },
		agregarProductoADetalle : function(e){
			e.preventDefault();
			var coProductoD = $("#cboProducto").val();
			var coProveedorD = $("#cboProveedor").val();
			var codProdProvD = $("#codProdProveedor").val();			
			var precioVentaD = $("#precioVenta").val();
			var cantidadVentaD = $("#cantidadVenta").val();
				
			if((coProductoD ==null || $.trim(coProductoD) == "00") || (coProveedorD == null || $.trim(coProveedorD) == "00") || (cantidadVentaD == null || $.trim(cantidadVentaD) == "")){
				scroll(0,0);
				$.showMessage("error","No hay ningun item seleccionado.",NotaEntregas.capaDeMensajes,true);			
			}else{
				if(parseInt(cantidadVentaD) <= parseInt($("#stockD").val())){
					if(NotaEntregas.validarIngreso(coProductoD)){
						NotaEntregas.insertarRegistroNuevo();
						$("#cboProducto").val("00");
						$('#cboProducto').select2();
						$("#cboProveedor").val("00");
						$("#codProdProveedor").val("");
						$("#precioVenta").val("");
						$("#cantidadVenta").val("");		
						$("#imagenProducto").val("");
					}else{
						scroll(0,0);
						$.showMessage("error","Este item ya ha sido ingresado",NotaEntregas.capaDeMensajes,true);				
					}	
					var html ='<option value="00">Seleccione</option>'
						$("#cboProveedor").html(html);
				}else{
					scroll(0,0);
					$.showMessage("error","La cantidad de venta es mayor que el STOCK.",NotaEntregas.capaDeMensajes,true);
				}						
			}				
			NotaEntregas.calcularTotales();
		}, 
		insertarRegistroNuevo : function(){
			/*Datos para la pantalla*/
			codProdProveedorName = $("#codProdProveedor").val();
			productoName = $("#cboProducto option:selected").html();
			cantidadVentaName = $("#cantidadVenta").val();
			precioVentaName = $("#precioVenta").val();
			/*Codigos*/
			coProducto = $("#cboProducto").val();
			coProveedor = $("#cboProveedor").val();
			
			var insertar = [{coProducto           : coProducto,				             
							 productoName         : productoName,
							 coProveedor          : coProveedor,							 							 
							 codProdProveedorName : codProdProveedorName,
							 cantidadVentaName    : cantidadVentaName,
							 precioVentaName      : precioVentaName
							}];
			
			$("#tabla-de-productos-de-venta").append(NotaEntregas.completarVentaDeProductos(insertar,true));		
		},
		completarVentaDeProductos : function(json,isNew){
			var html="";
			for(var i = 0 ; i < json.length ; i++){
				if(isNew){
					html+="<tr name='new'>";	
				}else{
					html+="<tr>";	
				}				
			        html+="<td>";
				      html+="<input type='hidden' id='v_"+json[i].coProveedor+"' value="+json[i].coProveedor+" />";
				      html+=json[i].codProdProveedorName;
			        html+="</td>";
					html+="<td>";					 
					  html+="<input type='hidden' id='p_"+json[i].coProducto+"' value="+json[i].coProducto+" />";
				      html+=json[i].productoName;
				    html+="</td>";
				    html+="<td>";					  
				      html+=json[i].cantidadVentaName;   
				    html+="</td>";
					html+="<td>";
					  html+=json[i].precioVentaName;
					html+="</td>";
					html+="<td>";					  
					  html+=parseFloat(json[i].cantidadVentaName*json[i].precioVentaName).toFixed(2);
			        html+="</td>";			       
					if(isNew){
						html+="<td>";
							html+="<a name='newDelete' class='btn btn-mini'><i class='icon-trash'></i></a>";
							html+="<a class='btn btn-mini' id='ni_"+json[i].coProducto+"'><i class='icon-eye-open'></i> Foto</a>";
						html+="</td>";
					}else{
						html+="<td>";
	 						//html+="<a name='editOld' class='btn btn-mini' data-idcoproducto='"+json[i].coProducto+"' data-idcantidadcompraname='"+json[i].cantidadCompraName+"' data-idcostocompraname='"+json[i].costoCompraName+"' data-idvar1='"+json[i].coProducto+"' data-idvar2='"+json[i].coProducto+"' data-idvar3='"+json[i].coProducto+"' data-idpreciosugeridoname='"+json[i].precioSugeridoName+"' data-idprecioventaname='"+json[i].precioVentaName+"' data-iddetalleingresoproducto='"+json[i].id+"'><i class='icon-pencil'></i></a> ";																		
							html+="<a name='oldDelete' class='btn btn-danger btn-mini' id='dvp_"+json[i].id+"'><i class='icon-trash icon-white'></i></a>";
							html+="<a class='btn btn-mini' id='i_"+json[i].coProducto+"'><i class='icon-eye-open'></i> Foto</a>";																					
						html+="</td>";
					}
				html+="</tr>";
			}
			return html;
		},
		validarIngreso : function(coProductoD){
			var count = 0;
			$("#tabla-de-productos-de-venta tr").each(function(){
			    _tr = this;
			    hidden = $(_tr).find(":hidden");    
			    if(hidden[1].id.substring(2) == coProductoD){
			        count++;
			    }
			});
			if(count == 0){
			    console.info(true);
			    return true;
			}else{
			    console.info(false);
			    return false;
			}
		},	
		removeRow : function(){
			_a = this;
			$(_a).parents("tr").remove();
			NotaEntregas.calcularTotales();
		},
		calcularTotales : function(){
			var sum = 0;
			$("#tabla-de-productos-de-venta tr").each(function(){
			    _tr = this;
			    sum = sum + parseFloat($(_tr).find("td").eq(4).text());
			});
			$("#totalBruto").val(parseFloat($("#pvprodCompuesto").val()) + parseFloat($("#pvprodCompuesto_02").val()) + parseFloat($("#pvprodCompuesto_03").val()) + sum);					
			var bi = parseFloat($("#totalBruto").val()) - parseFloat($("#totalDescuento").val());
	    	$("#baseImponible").val(bi);
	    	$("#iva").val(parseFloat(bi*0.12).toFixed(2));
	    	$("#netoPagar").val(parseFloat(bi + bi*0.12).toFixed(2));
		},	
		guardarNotaEntrega : function(){
			  if($.trim($('#nroNotaEntrega').val())==''){
				  scroll(0,0);
				  $.showMessage("error","Ingrese el NUMERO de la Nota de Entrega",NotaEntregas.capaDeMensajes,true);
				  return false;
			  }else{
				  if($("#coCliente").val()=="00"){
					  scroll(0,0);
					  $.showMessage("error","Seleccione un cliente",NotaEntregas.capaDeMensajes,true);
					  return false;
				  }else{
					  if($.trim($('#daFechaNE').val())==''){
						   scroll(0,0);
						   $.showMessage("error","Ingrese la fecha de la nota de entrega",NotaEntregas.capaDeMensajes,true);
						   return false;
					   }else{
							if($.trim($('#daFechaCirugia').val())==''){
								scroll(0,0);
								$.showMessage("error","Ingrese la fecha de la cirugia",NotaEntregas.capaDeMensajes,true);
								return false;
							}else{
								if($.trim($('#totalDescuento').val())==''){
									scroll(0,0);
									$.showMessage("error","Ingrese el valor del descuento",NotaEntregas.capaDeMensajes,true);
									return false;
								}else{
									$.ajax({
										url:"@{NotaEntrega.guardarNotaEntrega()}",
										data:{
											"notaEntrega.coNotaEntrega" 	            			   : $("#coNotaEntrega").val(),
											"notaEntrega.nroNotaEntrega" 	            			   : $("#nroNotaEntrega").val(),
											"notaEntrega.vmdbCliente.coCliente"       				   : $("#coCliente").val(),										
											"notaEntrega.deProforma" 	              				   : $("#deProforma").val(),	
											"notaEntrega.deLugarEntrega" 	              		       : $("#deLugarEntrega").val(),	
											"notaEntrega.dePaciente" 	              				   : $("#dePaciente").val(),										
											"notaEntrega.deDoctora"                     			   : $("#deDoctora").val(),										
											"notaEntrega.deTipoSeguro" 	              				   : $("#deTipoSeguro").val(),										
											"notaEntrega.deHistoriaClinica" 	        			   : $("#deHistoriaClinica").val(),										
											"notaEntrega.deProcedencia" 	            			   : $("#deProcedencia").val(),
											"notaEntrega.vmdbProductoCompuesto.coProductoCompuesto"    : $("#coProductoCompuesto").val(),
											"notaEntrega.vmdbProductoCompuesto_02.coProductoCompuesto" : $("#coProductoCompuesto_02").val(),
											"notaEntrega.vmdbProductoCompuesto_03.coProductoCompuesto" : $("#coProductoCompuesto_03").val(),
											"notaEntrega.totalBruto" 	              				   : $("#totalBruto").val(),
											"notaEntrega.totalDescuento" 	              		       : $("#totalDescuento").val(),
											"notaEntrega.baseImponible" 	              		       : $("#baseImponible").val(),
											"notaEntrega.iva" 	              				           : $("#iva").val(),
											"notaEntrega.netoPagar" 	              				   : $("#netoPagar").val(),										
											"notaEntrega.stNotaEntrega"       	  	                   : '1',																				
											"daFechaNE" 	              	             			   : $("#daFechaNE").val(),
											"daFechaCirugia" 	              	             	       : $("#daFechaCirugia").val(), 
											"codProveedoryCodPP"		                  	           : $("tr[name='new'] input[id*='v_']").map(function(){
		    							          														   return this.value+","+$(this).parent().text();
								             														     }).get().join("@"),								             														   
											"codProductoyQPI"		                                   : $("tr[name='new'] input[id*='p_']").map(function(){
													                                                       return this.value+","+$(this).parent().next().text()+","+$(this).parent().next().next().text()+","+$(this).parent().next().next().next().text();
																		                                 }).get().join("@")						  
											},
											success:function(obj){
											 if(obj.status == 1 || obj.status == 2){
												scroll(0,0);
												$.showMessage("success",obj.message,NotaEntregas.capaDeMensajes,true);
												location.reload(true);
											 }else{
												scroll(0,0);
												$.showMessage("error",obj.message,NotaEntregas.capaDeMensajes,true);
											 }
										    }
											});															
									 }
							}													
					   }											
				    }
			  }						  				  
			},
			buscarNotaEntrega : function(e){				
				e.preventDefault();
				$("#loadBuscar").show();
				$('#paginationNotaEntrega').load('@{NotaEntrega.buscar()}?azar='+Math.random(),
			    $("#buscarNotaEntrega").serialize(),
				function() {
					$("#loadBuscar").hide();
				});
			},
			listar : function(){
				$("#txtNombreBuscar").val('');
				$("#loadBuscar").show();
				$('#paginationNotaEntrega').load('@{NotaEntrega.buscar()}?azar='+Math.random(),
				$("#buscarNotaEntrega").serialize(),
				function() {
					$("#loadBuscar").hide();
					$("#"+NotaEntregas.capaDeMensajes).slideUp("slow");
				});
			},
			editarNotaEntrega : function(){
				$("#formularioNotaEntrega").clearAll();
				_id = this.id.substring(2);	
				NotaEntregas.buscarNotaEntregaId(_id);
				$("#btnGuardar").text("Editar");	
				//$('#btnAgregarProductos').attr("disabled", true);
				$('#coProductoCompuesto').attr("disabled", true);
				$('#coProductoCompuesto_02').attr("disabled", true);
				$('#coProductoCompuesto_03').attr("disabled", true);
				$('#totalDescuento').attr("disabled", true);
			},
			buscarNotaEntregaId : function(_id){
				$.ajax({
					url:"@{NotaEntrega.buscarNotaEntregaById()}",
					data:{id : _id},
					success:function(json){
						if(json.length > 0){
							NotaEntregas.completarDatosDeNotaIngreso(json[0][0],json[0][0].coProductoCompuesto,json[0][0].deProductoCompuesto,json[0][0].coProductoCompuesto_02,json[0][0].deProductoCompuesto_02,json[0][0].coProductoCompuesto_03,json[0][0].deProductoCompuesto_03);
							if(json[1]){
								detalleProd = NotaEntregas.completarVentaDeProductos(json[1]);
								$("#tabla-de-productos-de-venta").html(detalleProd);
								/*Colocando popover a los botones de eliminar*/
								/*$("a[name='oldDelete']").popover({title:"Cuidado",placement:"left",content:"Si eliminas este registro, puedes alterar algunos que esten vinculados "});*/
							}else{
								$("#tabla-de-productos-de-venta").empty();
							}
							scroll(0,0);
							$.showMessage("success","Se encontraron datos de la nota de entrega",NotaEntregas.capaDeMensajes,true);
						}
					},
					complete:function(){
					}			
				})
			},
			completarDatosDeNotaIngreso : function(json,code01,name01,code02,name02,code03,name03){
				$.each(json,function(key,value){
					$("#"+key).val(value);
				})
				var html01 = '';
				html01+='<option value="'+code01+'">';
				html01+=name01;
				html01+='</option>';	
				$("#coProductoCompuesto").html(html01);
				var html02 = '';
				html02+='<option value="'+code02+'">';
				html02+=name02;
				html02+='</option>';	
				$("#coProductoCompuesto_02").html(html02);
				var html03 = '';
				html03+='<option value="'+code03+'">';
				html03+=name03;
				html03+='</option>';	
				$("#coProductoCompuesto_03").html(html03);
			},
			eliminar : function(){
				if(confirm("Desea eliminar la Nota de Entrega? ")){
					_this = this;
					_id = this.id.substring(2);
					$.ajax({
						url:"@{NotaEntrega.eliminar()}",
						data:{id : _id},
						success:function(result){
							scroll(0,0);
							if(result.status == 1){							
								$.showMessage("success",result.message,NotaEntregas.capaDeMensajes,true);
								$(_this).parents("tr").remove();
							}else{
								$.showMessage("error",result.message,NotaEntregas.capaDeMensajes,true);
							}
						}
					})
				}									
			},
			
			
			
			
			
		
		
		
		
		
		
		
		
		
			
									
		cargarProductosByProveedores : function(){
			if($("#coProveedor").val() !="00"){			
				$.ajax({
					url:"@{NotaEntrega.cargarProductosByProveedores()}",
					async: false,
					data:{
						coProveedor : $("#coProveedor").val(),
					},
					success:function(RESULT){				
						var html ='<option value="00">Seleccione</option>'
						$.each(RESULT,function(key,value){												
							html+='<option value="'+value.coProducto+'">';
							html+=value.deNombre;
							html+='</option>';
						});
						$("#cboProducto").html(html);
					}
				});	
			}else{
				var html ='<option value="00">Seleccione</option>'
				$("#cboProducto").html(html);
			}			
		},											
		cerrarFactura : function(){
			if(confirm("Desea cerrar el ingreso de compra? ")){
				_this = this;
				_id = this.id.substring(2);
				$.ajax({
					url:"@{NotaEntrega.eliminar()}",
					data:{id : _id},
					success:function(result){
						scroll(0,0);
						if(result.status == 1){							
							$.showMessage("success",result.message,NotaEntregas.capaDeMensajes,true);
							$(_this).parents("tr").remove();
						}else{
							$.showMessage("error",result.message,NotaEntregas.capaDeMensajes,true);
						}
					}
				})
			}									
		},
		cancelarNotaEntrega : function(){	
			scroll(0,0);
			$("#cboProducto").val("00");
			$('#cboProducto').select2();
			$("#cboProveedor").val("00"); 
			$("#tabla-de-productos-de-venta").empty();
			$("#formularioNotaEntrega").clearAll();
			$("#formularioNotaEntrega").cleanForm();
			$("#btnGuardar").text("Guardar");	
			//$('#btnAgregarProductos').removeAttr("disabled");
			$('#coProductoCompuesto').removeAttr("disabled");
			$('#totalDescuento').removeAttr("disabled");
			var html ='<option value="00">Seleccione</option>'
				$("#cboProveedor").html(html);
			$('#coProductoCompuesto_02').attr("disabled", true);
			$('#coProductoCompuesto_03').attr("disabled", true);
			$("#totalBruto").val("0");
			$("#totalDescuento").val("0");
			$("#baseImponible").val("0");
	    	$("#iva").val("0");
	    	$("#netoPagar").val("0");
	    	$("#pvprodCompuesto").val("0");	
	    	location.reload();
		},
}
$(function(){
	NotaEntregas.init();
});
</script>