#{pagination.pag lista:listNotaEntrega, titulo:'NotaEntrega', cab:'Id,Nro. Doc,Cliente,Fecha,Monto,Estado,Opc', cantidadPestana:15, itemPag:500, pag:pag}
<tr>
<td key="coNotaEntrega" valor="${item.coNotaEntrega}">${item.coNotaEntrega}</td>
<td key="nroNotaEntrega" valor="${item.nroNotaEntrega}">${item?.nroNotaEntrega}</td>
<td key="coCliente" valor="${item.vmdbCliente.coCliente}">${item.vmdbCliente.deNombre}</td>
<td key="daFechaNE" valor="${item.daFechaNotaEntrega}">${item.daFechaNotaEntrega.format('dd/MM/yyyy')}</td>
<td key="netoPagar" valor="${item.netoPagar}">${item?.netoPagar}</td>
<td key="stNotaEntrega" valor="${item.stNotaEntrega}">${item.stNotaEntrega == '1' ? 'Activo' : 'Inactivo'}</td>
<td>
    #{if item.stNotaEntrega=='1'}
	<a class="btn btn-mini" id="u_${item.coNotaEntrega}"><i class="icon-pencil" title="Editar"></i></a>
    <a class="btn btn-mini" id="e_${item.coNotaEntrega}"><i class="icon-trash" title="Eliminar"></i></a>
    <a class="btn btn-mini" id="c_${item.coNotaEntrega}"><i class="icon-book" title="Cerrar nota de entrega sin facturar"></i></a>
<!--     <a class="btn btn-mini" id="d_${item.coNotaEntrega}"><i class="icon-shopping-cart" title="Despachar Nota de Entrega"></i></a> -->
	#{/if}
	<a href="@{NotaEntrega.viewDetalleNotaEntrega(item.coNotaEntrega)}" class="btn btn-mini" title="Detalle"><i class="icon-eye-open"></i></a>
</td>
</tr>
#{/pagination.pag}