#{pagination.pag lista:listProducto, titulo:'Producto', cab:'Id,Nombre,Descripcion,Unidad medida,Tipo Producto, Stock Min,Stock Actual,Estado,Opc', cantidadPestana:15, itemPag:500, pag:pag}
<tr>
<td key="coProducto" valor="${item.coProducto}">${item.coProducto}</td>
<td key="deNombre" valor="${item.deNombre}">${item.deNombre}</td>
<td key="deDescripcion" valor="${item.deDescripcion}">${item.deDescripcion}</td>
<td key="coMedida" valor="${item.vmdbMedida.coMedida}">${item.vmdbMedida.deNombre}</td>
<td key="coTipoProducto" valor="${item.vmdbTipoProducto.coTipoProducto}">${item.vmdbTipoProducto.deNombre}</td>
<td key="stockMinimo" valor="${item.stockMinimo}">${item.stockMinimo}</td>
<td>${item.stockActual}</td>
<td key="stProducto" valor="${item.stProducto}">${item.stProducto == '1' ? 'Activo' : 'Inactivo'}</td>
<td>
	<a class="btn btn-mini" id="u_${item.coProducto}"><i class="icon-pencil" title="Editar"></i></a>
	<a class="btn btn-mini" id="e_${item.coProducto}"><i class="icon-trash" title="Eliminar"></i></a>
    <a class="btn btn-mini" id="i_${item.coProducto}"><i class="icon-eye-open"></i> Foto</a>
</td>
</tr>
#{/pagination.pag}