#{pagination.pag lista:listProveedor, titulo:'Proveedor', cab:'Id,Pais,RUC,Empresa,Representante,Direccion,Telefono,Correo,Observacion,Estado,Opc', cantidadPestana:15, itemPag:500, pag:pag}
<tr>
<td key="coProveedor" valor="${item.coProveedor}">${item.coProveedor}</td>
<td key="coPais" valor="${item.vmdbPais.coPais}">${item.vmdbPais.deNombre}</td>
<td key="deRuc" valor="${item.deRuc}">${item.deRuc}</td>
<td key="deEmpresa" valor="${item.deEmpresa}">${item.deEmpresa}</td>
<td key="deNombre" valor="${item.deNombre}">${item.deNombre}</td>
<td key="deDireccion" valor="${item.deDireccion}">${item.deDireccion}</td>
<td key="deTelefono" valor="${item.deTelefono}">${item.deTelefono}</td>
<td key="deCorreo" valor="${item.deCorreo}">${item.deCorreo}</td>
<td key="deObservaciones" valor="${item.deObservaciones}">${item.deObservaciones}</td>
<td key="stProveedor" valor="${item.stProveedor}">${item.stProveedor == '1' ? 'Activo' : 'Inactivo'}</td>
<td>
	<a class="btn btn-mini" id="update_${item.coProveedor}"><i class="icon-pencil" title="Editar"></i></a>
	<a class="btn btn-mini" id="eliminar_${item.coProveedor}"><i class="icon-trash" title="Eliminar"></i></a>
</td>
</tr>
#{/pagination.pag}