#{extends 'main.html' /}
#{set title:'Tipo de Producto' /}
<div id="mensajes"></div>
<div class="well">
	<fieldset>
		<legend>:: Tipo de Producto :: </legend>
		<div id="alert" class="alert alert-error" style="display: none;"><strong></strong>
		</div>
		<form action="" class="form-horizontal" onsubmit="return false;" id="formularioTipoProducto">
			<input name="tipoProducto.coTipoProducto" type="hidden" id="coTipoProducto" value="" autocomplete="off">			
			<div class="control-group">
				<label class="control-label required-form" for="deNombre">Nombre</label>
				<div class="controls">
					<div class="input-append">
						<input type="text" name="tipoProducto.deNombre" id="deNombre" autocomplete="off"/>
					</div>
				</div>
			</div>		
			<div class="control-group">
				<label class="control-label" for="stTipoProducto">Estado</label>
				<div class="controls">
					<select name="tipoProducto.stTipoProducto" id="stTipoProducto">
						<option value="1">Activo</option>
						<option value="0">Inactivo</option>
					</select>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" id="btnGuardar" class="btn btn-primary">Guardar</button>
				<button type="button" id="btnCancelar" class="btn">Cancelar</button>				
			</div>
		</form>		
	</fieldset>
</div>
<form action="" onsubmit="return false" class="well form-search" id="buscarTipoProducto">
	<input type="text" name="txtNombreBuscar" id="txtNombreBuscar" class="input-xlarge" placeholder="Nombre del tipo producto" autocomplete="off">
	<button type="submit" class="btn">Buscar</button>
	<img id="loadBuscar" src="@{'/public/images/ajax-loaderCombo.gif'}" class="hide">
</form>
#{pagination.pag lista:listTipoProducto, titulo:'TipoProducto', cab:'Id,Nombre,Estado,Opc', cantidadPestana:15, itemPag:500}
<tr>
<td key="coTipoProducto" valor="${item.coTipoProducto}">${item.coTipoProducto}</td>
<td key="deNombre" valor="${item.deNombre}">${item.deNombre}</td>
<td key="stTipoProducto" valor="${item.stTipoProducto}">${item.stTipoProducto == '1' ? 'Activo' : 'Inactivo'}</td>
<td>
	<a class="btn btn-mini" id="update_${item.coTipoProducto}"><i class="icon-pencil" title="Editar"></i></a>
	<a class="btn btn-mini" id="eliminar_${item.coTipoProducto}"><i class="icon-trash" title="Eliminar"></i></a>
</td>
</tr>
#{/pagination.pag}
<script type="text/javascript">
var rutaPaginacionTipoProducto = '@{TipoProducto.paginacion()}';
var TipoProductos = {
		capaDeMensajes : "mensajes",
		init : function(){
			$(document).delegate("a[id*='update_']","click",TipoProductos.editarTipoProducto);			
			$("#buscarTipoProducto").submit(TipoProductos.buscarTipoProducto);
			$("#btnGuardar").click(TipoProductos.guardarTipoProducto);			
			$("#btnCancelar").click(TipoProductos.cancelarTipoProducto);
			$(document).delegate("a[id*='eliminar_']","click",TipoProductos.eliminar);	
		},	
		listar : function(){
			$("#txtNombreBuscar").val('');
			$("#loadBuscar").show();
			$('#paginationTipoProducto').load('@{TipoProducto.buscar()}?azar='+Math.random(),
			$("#buscarTipoProducto").serialize(),
			function() {
				$("#loadBuscar").hide();
			});
		},
		editarTipoProducto : function(){
			scroll(0,0);
			$(".required-form").parent().removeClass("error");
			$(".help-inline").addClass("hide");
			$("#btnGuardar").text("Editar");
			$.each($(this).parents("tr").find("td"),function(k,v){
				var key=$(v).attr("key");
				var valor=$(v).attr("valor");
				$("#"+key).val(valor);
			});			
		},
		buscarTipoProducto : function(e){						
			e.preventDefault();
			$("#loadBuscar").show();
			$('#paginationTipoProducto').load('@{TipoProducto.buscar()}?azar='+Math.random(),
		    $("#buscarTipoProducto").serialize(),
			function() {
				$("#loadBuscar").hide();
			});
		},
		guardarTipoProducto : function(){
		  if($.trim($('#deNombre').val())==''){
			   scroll(0,0);
			   $.showMessage("error","Ingrese el nombre del tipo de producto",TipoProductos.capaDeMensajes,true);
			   return false;
		  }else{
			  $.ajax({
					url:"@{TipoProducto.guardarTipoProducto()}",
					data:$("#formularioTipoProducto").serialize(),
					success:function(obj){
					 if(obj.status == 1 || obj.status == 2){
						scroll(0,0);
						$.showMessage("success",obj.message,TipoProductos.capaDeMensajes,true);
						TipoProductos.cancelarTipoProducto();
						TipoProductos.listar();
					 }else{
						scroll(0,0);
						$.showMessage("error",obj.message,TipoProductos.capaDeMensajes,true);
					 }
				    }
					});
				 $('#alert').hide();
		  } 		   					
		},
		eliminar : function(){
			if(confirm("Desea eliminar el tipo de producto? ")){
				_id = this.id.substring(9);
				$.ajax({
					url:"@{TipoProducto.eliminar()}",
					data:{id : _id},
					success:function(result){
						scroll(0,0);
						if(result.status == 1){							
							$.showMessage("success",result.message,TipoProductos.capaDeMensajes,true);
							TipoProductos.cancelarTipoProducto();
							TipoProductos.listar();
						}else{
							$.showMessage("error",result.message,TipoProductos.capaDeMensajes,true);
							TipoProductos.cancelarTipoProducto();
							TipoProductos.listar();
						}
					},
					complete:function(){
						scroll(0,0);
						TipoProductos.cancelarTipoProducto();						
					}
				})
			}
		},
		cancelarTipoProducto : function(){			
			$(".required-form").parent().removeClass("error");
			$(".help-inline").addClass("hide");
			$("#formularioTipoProducto").clearAll();
			$("#btnGuardar").text("Guardar");
		},
}
$(function(){
	TipoProductos.init();
});
</script>