#{pagination.pag lista:listTipoEvento, titulo:'TipoEvento', cab:'Id,Nombre,Estado,Opc', cantidadPestana:15, itemPag:500, pag:pag}
<tr>
<td key="coTipoEvento" valor="${item.coTipoEvento}">${item.coTipoEvento}</td>
<td key="deNombre" valor="${item.deNombre}">${item.deNombre}</td>
<td key="stTipoEvento" valor="${item.stTipoEvento}">${item.stTipoEvento == '1' ? 'Activo' : 'Inactivo'}</td>
<td>
	<a class="btn btn-mini" id="update_${item.coTipoEvento}"><i class="icon-pencil" title="Editar"></i></a>
	<a class="btn btn-mini" id="eliminar_${item.coTipoEvento}"><i class="icon-trash" title="Eliminar"></i></a>
</td>
</tr>
#{/pagination.pag}