#{extends 'main.html' /}
#{set title:'Transferencia' /}
<div id="mensajes"></div>
<div class="well">
	<fieldset>
		<legend>:: Transferir Producto a otra Celda :: </legend>
		<form action="" class="form-horizontal" onsubmit="return false;" id="formularioTransferencia">
		    <div class="control-group">
				<label class="control-label required-form" for="celdaOrigen">Celda Origen</label>
				<div class="controls">
					<select id="cboCeldaOrigen" type="select-one" name="cboCeldaOrigen" class="span2" autocomplete="off" >
					  <option value="00">Seleccione</option>	
					  #{list listCeldaOcupado,as:'celdaOcupado'}
					  <option value="${celdaOcupado.coAlmacen}">${celdaOcupado.deCelda}</option>
					  #{/list}								               
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Producto</label>
				<div style="margin-left:29px;">
				<div class="controls">
				    <input name="coDetalleProducto" type="hidden" id="coDetalleProducto" value="" autocomplete="off">
					<textarea id="deProducto" name="deProducto" rows="" cols="" autocomplete="off" readonly="readonly" class="span4"></textarea>
				</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Proveedor</label>
				<div style="margin-left:29px;">
				<div class="controls">
					<textarea id="deProveedor" name="deProveedor" rows="" cols="" autocomplete="off" readonly="readonly" class="span4"></textarea>
					Codigo <input type="text" name="codigoProductoProv" id="codigoProductoProv" class="span2" autocomplete="off" readonly="readonly"/>
				</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label required-form" for="cantidadEnCelda">Cantidad</label>
				<div style="margin-left:29px;">
				<div class="controls">
					<div class="input-append">
						<input type="text" name="cantidadEnCelda" id="cantidadEnCelda" class="span2" autocomplete="off" readonly="readonly"/>
					</div>
				</div>
				</div>
			</div>																							
			<div class="control-group">
				<label class="control-label required-form" for="celda">Celda Destino</label>
				<div class="controls">
					<select id="cboCeldaDestino" type="select-one" name="cboCeldaDestino" class="span2" autocomplete="off" >
					  <option value="00">Seleccione</option>	
					  #{list listCeldaLibre,as:'celdaLibre'}
					  <option value="${celdaLibre.coAlmacen}">${celdaLibre.deCelda}</option>
					  #{/list}								               
					</select>
				</div>
			</div>						
			<div class="form-actions">
				<button type="submit" id="btnGuardar" class="btn btn-primary">Transfereir</button>
				<button type="button" id="btnCancelar" class="btn">Cancelar</button>				
			</div>
		</form>		
	</fieldset>
</div>
<form action="" onsubmit="return false" class="well form-search" id="buscarAlmacen">
	<input type="text" name="txtNombreBuscar" id="txtNombreBuscar" class="input-xlarge" placeholder="Nombre de la celda" autocomplete="off">
	<button type="submit" class="btn">Buscar</button>
	<img id="loadBuscar" src="@{'/public/images/ajax-loaderCombo.gif'}" class="hide">
</form>
#{pagination.pag lista:listAlmacen, titulo:'Almacen', cab:'Id,Celda,Cantidad,Estado,Producto,Cod. Producto,Proveedor', cantidadPestana:15, itemPag:500}
<tr>
<td key="coAlmacen" valor="${item.coAlmacen}">${item.coAlmacen}</td>
<td key="deCelda" valor="${item.deCelda}">${item.deCelda}</td>
<td key="cantidad" valor="${item.cantidad}">${item.cantidad}</td>
<td key="stAlmacen" valor="${item.stAlmacen}">${item.stAlmacen == '1' ? 'Libre' : item.stAlmacen == '2' ? 'Ocupado' : 'Eliminado'}</td>
<td key="producto" valor="${item?.vmdbDetalleProducto?.vmdbProducto?.deNombre}">${item?.vmdbDetalleProducto?.vmdbProducto?.deNombre}</td>  
<td key="codigo" valor="${item?.vmdbDetalleProducto?.codigoProducto}">${item?.vmdbDetalleProducto?.codigoProducto}</td>
<td key="proveedor" valor="${item?.vmdbDetalleProducto?.vmdbProveedor?.deEmpresa}">${item?.vmdbDetalleProducto?.vmdbProveedor?.deEmpresa}</td>
</tr>
#{/pagination.pag}
<script type="text/javascript">
var rutaPaginacionAlmacen = '@{Almacen.paginacion()}';
var Transferencias = {
		capaDeMensajes : "mensajes",
		init : function(){
			$("#cboCeldaOrigen").select2();
			$("#cboCeldaDestino").select2();
			$(document).delegate("#cboCeldaOrigen","change",Transferencias.cargarDatosDeLaCelda);
			$("#btnCancelar").click(Transferencias.cancelarTransferencia);				
			$("#buscarAlmacen").submit(Transferencias.buscarCelda);						
			$("#btnGuardar").click(Transferencias.guardarTransferencia);						
		},	
		cargarDatosDeLaCelda : function(){
			if($("#cboCeldaOrigen").val() !="00"){			
				$.ajax({
					url:"@{Transferencia.cargarDatosDeLaCelda()}",
					async: false,
					data:{
						coCeldaOrigen : $("#cboCeldaOrigen").val(),
					},
					success:function(RESULT){							
						$("#coDetalleProducto").val(RESULT.coDetalleProducto);
						$("#deProducto").val(RESULT.deProducto);
						$("#deProveedor").val(RESULT.deProveedor);
						$("#codigoProductoProv").val(RESULT.codigoProductoProv);
						$("#cantidadEnCelda").val(RESULT.cantidadEnCelda);																	
					}
				});	
			}else{
				$("#coDetalleProducto").val("");
				$("#deProducto").val("");
				$("#deProveedor").val("");
				$("#codigoProductoProv").val("");
				$("#cantidadEnCelda").val("");	
			}	
		},
		cancelarTransferencia : function(){			
			scroll(0,0);
	    	location.reload();
		},										
		buscarCelda : function(e){						
			e.preventDefault();
			$("#loadBuscar").show();
			$('#paginationAlmacen').load('@{Transferencia.buscar()}?azar='+Math.random(),
		    $("#buscarAlmacen").serialize(),
			function() {
				$("#loadBuscar").hide();
			});
		},			
		listar : function(){
			$("#txtNombreBuscar").val('');
			$("#loadBuscar").show();
			$('#paginationAlmacen').load('@{Transferencia.buscar()}?azar='+Math.random(),
			$("#buscarAlmacen").serialize(),
			function() {
				$("#loadBuscar").hide();
			});
		},							
		guardarTransferencia : function(){
			var coCeldaOrigen = $("#cboCeldaOrigen").val();					
			var coCeldaDestino = $("#cboCeldaDestino").val();		    
		    if($("#cboCeldaOrigen").val()=="00"){
		    	scroll(0,0);
				$.showMessage("error","Tiene que seleccionar la celda Origen",Transferencias.capaDeMensajes,true);
				return false;
		    }else{
		    	if($("#cboCeldaDestino").val()=="00"){
		    		scroll(0,0);
					$.showMessage("error","Tiene que seleccionar la celda Destino",Transferencias.capaDeMensajes,true);
					return false;
		    	}else{
		    		$.ajax({
    					url:"@{Transferencia.applyTransferencia()}",
    					data:{
    						coCeldaOrigen   : coCeldaOrigen,
    						coCeldaDestino  : coCeldaDestino
    					},
    					success:function(result){
    						if(result.correcto == "true"){	
    							scroll(0,0);
    							$.showMessage("success",result.message,Transferencias.capaDeMensajes,true);		    							
    						}										
    						location.reload();
    					}
    				});
		    	}		    	
		    }			
		},							
}
$(function(){
	Transferencias.init();
});
</script>