#{extends 'main.html' /}
#{set title:'DETALLE DE COMPRA DE PRODUCTOS' /}
<form class="form-horizontal" action="@{IngresoProducto.exportarProductos()}">
<input type="hidden" name="coIngresoProducto" id="coIngresoProducto" autocomplete="off" value="${id}"/>
<a href="javascript:history.back(1)" class="btn">Regresar</a>
<button class="btn btn-primary" type="submit" id="btnExportarProductos">Exportar</button>
</form>
<hr/>

<div class="well">
<fieldset>
<legend> Factura de Compra - ${ingresoProducto.nroDocumento}</legend>
<form class="form-horizontal">
<div class="control-group">
  <div class="row">
		<div class="span5">
			<div class="control-group">
				<label class="control-label">N. Docum</label>
                <div class="controls">
    			    <span class="input-medium uneditable-input" id="nroDocumento">${ingresoProducto.nroDocumento}</span>
  				</div>
			</div>
		</div>					
		<div class="span">
		<div class="control-group">
			<label class="control-label">Tipo cambio</label>
            <div class="controls">
    			<span class="input-medium uneditable-input" id="tipoCambio">${ingresoProducto.tipoCambio}</span>
  			</div>
		</div>						
		</div>																													
  </div>
  <div class="row">
		<div class="span5">
			<div class="control-group">
				<label class="control-label">Fecha Fac.</label>
                <div class="controls">
    			    <span class="input-medium uneditable-input" id="nroDocumento">${ingresoProducto.daFechaFactura.format('dd/MM/yyyy')}</span>
  				</div>
			</div>
		</div>					
		<div class="span">
		<div class="control-group">
			<label class="control-label">Flete $</label>
            <div class="controls">
    			<span class="input-medium uneditable-input" id="flete">${ingresoProducto.flete}</span>
  			</div>
		</div>						
		</div>																													
  </div>
  <div class="row">
		<div class="span5">
			<div class="control-group">
				<label class="control-label">Proveedor</label>
                <div class="controls">
    			    <span class="input-medium uneditable-input" id="coProveedor">${ingresoProducto.vmdbProveedor.deEmpresa}</span>
  				</div>
			</div>
		</div>					
		<div class="span">
		<div class="control-group">
			<label class="control-label">Movilidad $</label>
            <div class="controls">
    			<span class="input-medium uneditable-input" id="movilidad">${ingresoProducto.movilidad}</span>
  			</div>
		</div>						
		</div>																													
  </div>
  <div class="row">
		<div class="span5">
			<div class="control-group">
				<label class="control-label">RUC</label>
                <div class="controls">
    			    <span class="input-medium uneditable-input" id="ruc">${ingresoProducto.vmdbProveedor.deRuc}</span>
  				</div>
			</div>
		</div>					
		<div class="span">
		<div class="control-group">
			<label class="control-label">Hospedaje $</label>
            <div class="controls">
    			<span class="input-medium uneditable-input" id="movilidad">${ingresoProducto.hospedaje}</span>
  			</div>
		</div>						
		</div>																													
  </div>
  <div class="row">
		<div class="span5">
			<div class="control-group">
				<label class="control-label">Direccion</label>
                <div class="controls">
    			    <span class="input-medium uneditable-input" id="direccion">${ingresoProducto.vmdbProveedor.deDireccion}</span>
  				</div>
			</div>
		</div>					
		<div class="span">
		<div class="control-group">
			<label class="control-label">Otros $</label>
            <div class="controls">
    			<span class="input-medium uneditable-input" id="otros">${ingresoProducto.otros}</span>
  			</div>
		</div>						
		</div>																													
  </div>
  <div class="row">
		<div class="span5">
			<div class="control-group">
				<label class="control-label">Observacion</label>
                <div class="controls">
    			    <span class="input-medium uneditable-input" id="direccion">${ingresoProducto.deObservacion}</span>
  				</div>
			</div>
		</div>					
		<div class="span">
		<div class="control-group">
			<label class="control-label">$</label>
            <div class="controls">
    			<span class="input-medium uneditable-input" id="otros">${ingresoProducto.dollar}</span>
  			</div>
		</div>						
		</div>																													
  </div>
</div>
</form>
</fieldset>
</div>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>NOMBRE</th>
			<th>CANTIDAD</th>
			<th>P. COMPRA</th>
			<th>TOTAL</th>
			<th>$ P. COMPRA</th>
			<th>$ TOTAL</th>
			<th>$ P. SUGERIDO</th>
			<th>$ P. VENTA</th>
		</tr>
	</thead>
	<tbody>
		#{list detalleIngresoProducto,as:'item'}
		<tr>
			<td>${item.vmdbProducto.deNombre}</td>
			<td>${item.cantidadCompra}</td>
			<td>${item.costoCompra}</td>
			<td>${item.totalCompra}</td>
			<td>${item.costoCompraEc}</td>
			<td>${item.totalCompraEc}</td>
			<td>${item.precioSugerido}</td>
			<td>${item.precioVenta}</td>
		</tr>
		#{/list}
	</tbody>
</table>
<div class="well">
<table>
<tr>
   <td style="font-weight:bold;">SubTotal</td>
      <td>
      <span class="input-medium uneditable-input" id="subtotal">${ingresoProducto.subtotal}</span>
      </td>   
   <td style="font-weight:bold;">Descuento</td>
      <td>
      <span class="input-medium uneditable-input" id="descuento">${ingresoProducto.descuento}</span>
      </td>
   <td style="font-weight:bold;">Impuesto</td>
      <td>
      <span class="input-medium uneditable-input" id="impuesto">${ingresoProducto.impuesto}</span>
      </td>
   <td style="font-weight:bold;">Total</td>
      <td>
      <span class="input-medium uneditable-input" id="total">${ingresoProducto.total}</span>
      </td>             
</tr>
</table>
</div>