#{extends 'main.html' /}
#{set title:'GUIA DE REMISION' /}
<form class="form-horizontal" action="@{GuiaRemision.exportarGuia()}">
<input type="hidden" name="idGR" id="idGR" autocomplete="off" value="${id}"/>
<a class="btn" href="@{GuiaRemision.index()}">Regresar</a>
<button class="btn btn-primary" type="submit" id="btnExportarGuiaRemision">Exportar</button>
</form>
<hr/>
<div class="well">
	<fieldset>
		<legend> Guia de Remision - ${guiaRemision.nroGuiaRemision}</legend>
		<form class="form-horizontal">
			<div class="control-group">		
			    <div class="row">
					<div class="span5">
						<div class="control-group">
							<label class="control-label">Nota de Entrega</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="notaEntrega" name="notaEntrega" autocomplete="off" value="${guiaRemision.vmdbNotaEntrega.nroNotaEntrega}" readonly="readonly"/>
								</div>
							</div>
						</div>												
					</div>																																									
				</div>					
				<div class="row">
					<div class="span5">
					    <div class="control-group">
							<label class="control-label">F. Inicio de Traslado</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="fechaInicioTraslado" name="fechaInicioTraslado" autocomplete="off" value="${guiaRemision.daFechaIniciacionTraslado.format('dd/MM/yyyy')}" readonly="readonly"/>
								</div>
							</div>
						</div>					    					    				
					</div>	
					<div class="span">
					    <div class="control-group">
							<label class="control-label">F. Fin de Traslado</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="fechaFinTraslado" name="fechaFinTraslado" autocomplete="off" value="${guiaRemision.daFechaTerminacionTraslado.format('dd/MM/yyyy')}" readonly="readonly"/>
								</div>
							</div>
						</div>						
					</div>																																			
				</div>
							
				<div class="row">
				    <div class="span5">
					    <div class="control-group">
							<label class="control-label">Fecha de Emision</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="fechaEmision" name="fechaEmision" autocomplete="off" value="${guiaRemision.daFechaEmision.format('dd/MM/yyyy')}" readonly="readonly"/>
								</div>
							</div>
						</div>						
					</div>					
					<div class="span">
					    <div class="control-group">
							<label class="control-label">Punto de Partida</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="puntoPartida" name="puntoPartida" autocomplete="off" value="${guiaRemision.dePuntoPartida}" readonly="readonly"/>
								</div>
							</div>
						</div>					    		
					</div>																													
				</div>
				<div style="color:#0088CC;font-weight:bold;">DESTINATARIO</div>
				<div class="row">
				    <div class="span5">
					    <div class="control-group">
							<label class="control-label">Nombre o Razon Social</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="nombreORazonSocial" name="nombreORazonSocial" autocomplete="off" value="${guiaRemision.vmdbNotaEntrega.vmdbCliente.deNombre}" readonly="readonly"/>
								</div>
							</div>
						</div>														
					</div>
					<div class="span">
					    <div class="control-group">
							<label class="control-label">RUC / CI</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="rucCI" name="rucCI" autocomplete="off" value="${guiaRemision.vmdbNotaEntrega.vmdbCliente.deRuc}" readonly="readonly"/>
								</div>
							</div>
						</div>						
					</div>																																								
				</div>				
				<div class="row">
				    <div class="span5">
					    <div class="control-group">
							<label class="control-label">Punto de Llegada</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="puntoLlegada" name="puntoLlegada" autocomplete="off" value="${guiaRemision.dePuntoLlegada}" readonly="readonly" class="span5"/>
								</div>
							</div>
						</div>														
					</div>																																													
				</div>
				<div style="color:#0088CC;font-weight:bold;">IDENTIFICACION DE LA PERSONA ENCARGADA DEL TRANSPORTE</div>
				<div class="row">
				    <div class="span5">
					    <div class="control-group">
							<label class="control-label">Nombre o Razon Social</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="nombreORazonSocialT" name="nombreORazonSocialT" autocomplete="off" value="${guiaRemision.deNombreRazonSocial}" readonly="readonly"/>
								</div>
							</div>
						</div>														
					</div>
					<div class="span">
					    <div class="control-group">
							<label class="control-label">RUC / CI</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="rucCIT" name="rucCIT" autocomplete="off" value="${guiaRemision.deRucCI}" readonly="readonly"/>
								</div>
							</div>
						</div>						
					</div>																																								
				</div>	
				<div style="color:#0088CC;font-weight:bold;">BIENES TRANSPORTADOS</div>		
				<div class="row">
				    <div class="span5">
					    <div class="control-group">
							<label class="control-label">Cantidad</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="cantidad" name="cantidad" autocomplete="off" value="${guiaRemision.cantidad}" readonly="readonly"/>
								</div>
							</div>
						</div>														
					</div>
					<div class="span">
					    <div class="control-group">
							<label class="control-label">Unidad</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" id="unidad" name="unidad" autocomplete="off" value="${guiaRemision.deUnidad}" readonly="readonly"/>
								</div>
							</div>
						</div>						
					</div>																																								
				</div>
				<div class="row">
				    <div class="span5">
					    <div class="control-group">
							<label class="control-label">Descripcion 01</label>
							<div class="controls">
							    <div class="input-append">
									<input type="text" id="descripcion01" name="descripcion01" autocomplete="off" value="${guiaRemision.deDescripcion_01}" readonly="readonly" class="span5"/>
								</div>																
							</div>
						</div>														
					</div>																																												
				</div>
				<div class="row">
				    <div class="span5">
					    <div class="control-group">
							<label class="control-label">Descripcion 02</label>
							<div class="controls">
							    <div class="input-append">
									<input type="text" id="descripcion02" name="descripcion02" autocomplete="off" value="${guiaRemision.deDescripcion_02}" readonly="readonly" class="span5"/>
								</div>																
							</div>
						</div>														
					</div>																																												
				</div>
				<div class="row">
				    <div class="span5">
					    <div class="control-group">
							<label class="control-label">Descripcion 03</label>
							<div class="controls">
							    <div class="input-append">
									<input type="text" id="descripcion03" name="descripcion03" autocomplete="off" value="${guiaRemision.deDescripcion_03}" readonly="readonly" class="span5"/>
								</div>																
							</div>
						</div>														
					</div>																																												
				</div>																																																			
			</div>										
		</form>		
	</fieldset>
</div>