#{extends 'main.html' /}
#{set title:'Pacientes' /}
<div id="divMsj"></div>
<div class="well">
	<fieldset>
		<legend>:: Mantenimiento de Pacientes :: </legend>
		<div id="alert" class="alert alert-error" style="display: none;">
				<strong></strong>
		</div>
		<form action="" class="form-horizontal" onsubmit="return false;" id="formularioPaciente">
			<input name="paciente.coPaciente" type="hidden" id="coPaciente" value="" autocomplete="off">			
			<div class="control-group">
				<label class="control-label" for="deCodigo">Codigo</label>
				<div class="controls">
					<div class="input-append">
						<input type="text" name="paciente.deCodigo" id="deCodigo" autocomplete="off"/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label required-form" for="deNombre">Nombre</label>
				<div class="controls">
					<div class="input-append">
						<input type="text" name="paciente.deNombre" id="deNombre" autocomplete="off"/>
						<span class="help-inline hide">Ingrese el nombre del paciente</span>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="deTelefono">Telefono</label>
				<div class="controls">
					<div class="input-append">
						<input type="text" name="paciente.deTelefono" id="deTelefono" autocomplete="off"/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="deDireccion">Direccion</label>
				<div class="controls">
					<div class="input-append">
						<input type="text" name="paciente.deDireccion" id="deDireccion" autocomplete="off"/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label required-form" for="stSexo">Sexo</label>
				<div class="controls">
					<select name="paciente.stSexo" id="stSexo" type="select-one">
						<option value="00">--Seleccione--</option>
						<option value="F">FEMENINO</option>
						<option value="M">MASCULINO</option>
					</select>
					<span class="help-inline hide">Seleccione el Sexo del paciente</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="stPaciente">Estado</label>
				<div class="controls">
					<select name="paciente.stPaciente" id="stPaciente">
						<option value="1">ACTIVO</option>
						<option value="0">DESACTIVADO</option>
					</select>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" id="btnGuardar" class="btn btn-primary">Guardar</button>
				<button type="button" id="btnCancelar" class="btn">Cancelar</button>				
			</div>
		</form>		
	</fieldset>
</div>
<form action="" onsubmit="return false" class="well form-search" id="buscarPaciente">
	<input type="text" name="txtNombreBuscar" id="txtNombreBuscar" class="input-xlarge" autocomplete="off">
	<button type="submit" class="btn">Buscar</button>
	<label class="checkbox"><input type="checkbox" value="1" id="chkType" name="type"/>x codigo</label>
	<img id="loadBuscar" src="@{'/public/images/ajax-loaderCombo.gif'}" class="hide">
</form>
<form id="formulario" action="" method="post">
   <button type="button" class="btn btn-primary" id="padronPacientes">Exportar</button>
   <img id="loadRepresentante" src="@{'/public/images/ajax-loaderCombo.gif'}" class="hide">
</form>
#{pagination.pag lista:listPaciente, titulo:'Paciente', cab:'Id,Codigo,Nombre,Telefono,Direccion,Sexo,Estado,Opc', cantidadPestana:15, itemPag:30}
<tr>
<td key="coPaciente" valor="${item.coPaciente}">${item.coPaciente}</td>
<td key="deCodigo" valor="${item.deCodigo}">${item.deCodigo}</td>
<td key="deNombre" valor="${item.deNombre}">${item.deNombre}</td>
<td key="deTelefono" valor="${item.deTelefono}">${item.deTelefono}</td>
<td key="deDireccion" valor="${item.deDireccion}">${item.deDireccion}</td>
<td key="stSexo" valor="${item.stSexo}">${item.stSexo == 'M' ? 'MASCULINO' : 'FEMENINO'}</td>
<td key="stPaciente" valor="${item.stPaciente}">${item.stPaciente == '1' ? 'ACTIVO' : 'INACTIVO'}</td>
<td>
	<a class="btn btn-mini" id="update_${item.coPaciente}"><i class="icon-pencil"></i></a>
	<a class="btn btn-mini" id="eliminar_${item.coPaciente}"><i class="icon-trash"></i></a>
</td>
</tr>
#{/pagination.pag}
<script type="text/javascript">
var rutaPaginacionPersona = '@{Paciente.paginacion()}';
var Pacientes = {
		init : function(){
			$("#deTelefono").numeric();
			$(document).delegate('#deNombre','keyup',Pacientes.soloLetras);
			$(document).delegate("a[id*='update_']","click",Pacientes.editarPaciente);			
			$("#buscarPaciente").submit(Pacientes.buscarPaciente);
			$("#btnGuardar").click(Pacientes.guardarPaciente);			
			$("#btnCancelar").click(Pacientes.cancelarPaciente);
			$(document).delegate("a[id*='eliminar_']","click",Pacientes.eliminar);	
			$("#padronPacientes").click(Pacientes.padronPacientes);
		},	
		rutaPadronPacientes : "@{Paciente.detallado()}",
		padronPacientes : function(){
			$("#formulario").attr("action",Pacientes.rutaPadronPacientes);
			$("#formulario").submit();
		},
		soloLetras : function(){
			  $('#deNombre').each(function(){
			       if(!/^[a-zA-Z\s]*$/.test($(this).val())){
			    	  $(this).val("");
			    	  $('#alert').show().find('strong').text('Solo se admite letras');
			    	  return false;							    	  
			    	}else{
			    		 $('#alert').hide();
			    	}	    		
			    });  		
		},
		listar : function(){
			$("#txtNombreBuscar").val('');
			$("#loadBuscar").show();
			$('#paginationPaciente').load('@{Paciente.buscar()}?azar='+Math.random(),
			$("#buscarPaciente").serialize(),
			function() {
				$("#loadBuscar").hide();
			});
		},
		editarPaciente : function(){
			scroll(0,0);
			$(".required-form").parent().removeClass("error");
			$(".help-inline").addClass("hide");
			$("#btnGuardar").text("Editar");
			$.each($(this).parents("tr").find("td"),function(k,v){
				var key=$(v).attr("key");
				var valor=$(v).attr("valor");
				$("#"+key).val(valor);
			});			
		},
		buscarPaciente : function(e){						
			e.preventDefault();
			$("#loadBuscar").show();
			$('#paginationPaciente').load('@{Paciente.buscar()}?azar='+Math.random(),
		    $("#buscarPaciente").serialize(),
			function() {
				$("#loadBuscar").hide();
			});
		},
		guardarPaciente : function(){
		   var mensaje = $('#alert').show().find('strong');
		   if($.trim($('#deCodigo').val())==''){
			   mensaje.text('Debe ingresar el codigo');
			   return false;
		   }else{
			   if($.trim($('#deNombre').val())==''){
				    mensaje.text('Debe ingresar el nombre');
					return false;
				}else{
					if($("#deTelefono").val()==''){
						mensaje.text('Debe ingresar el telefono');
						return false;
					}else{
						if($("#deDireccion").val()==''){
							mensaje.text('Debe ingresar una direccion');
							return false;
						}else{
							if($("#stSexo").val()=="00"){
								mensaje.text('Debe seleccionar el sexo');
								return false;
							}else{
								$.ajax({
									url:"@{Paciente.guardarPaciente()}",
									data:$("#formularioPaciente").serialize(),
									success:function(obj){
									 if(obj.status == 1 || obj.status == 2){
										$.showMessage('success',obj.message);
										Pacientes.cancelarPaciente();
										Pacientes.listar();
									 }else{
										$.showMessage('errorServer',obj.message);
									 }
								    }
									});
							}
					    $('#alert').hide();	
						}
					}						 					   		
				}			   		  
		   }					
		},
		eliminar : function(){
			if(confirm("Desea dar de baja la Persona ? ")){
				_id = this.id.substring(9);
				$.ajax({
					url:"@{Paciente.eliminar()}",
					data:{id : _id},
					success:function(result){
						scroll(0,0);
						if(result.status == 1){							
							$.showMessage('success',result.message);
							Pacientes.cancelarPaciente();
							Pacientes.listar();
						}else{
							$.showMessage('error',result.message);
							Pacientes.cancelarPaciente();
							Pacientes.listar();
						}
					},
					complete:function(){
						scroll(0,0);
						Pacientes.cancelarPaciente();						
					}
				})
			}
		},
		cancelarPaciente : function(){			
			$(".required-form").parent().removeClass("error");
			$(".help-inline").addClass("hide");
			$("#formularioPaciente").clearAll();
			$("#btnGuardar").text("Guardar");
		},
}
$(function(){
	Pacientes.init();
});
</script>