#{extends 'main.html' /}
#{set title:'Cambiar Clave' /}
<div id="divMsj"></div>
<div class="well">
	<fieldset>
		<legend>Cambiar Clave</legend>
		<form class="form-horizontal" onsubmit="return false;" id="formulario-editPassword">
			<input type="hidden" id="coUsuario" name="usuario.coUsuario" value="${usuario.coUsuario}"/>
			<div class="control-group">
				<label class="control-label required-form" for="deUsuario">Usuario</label>
				<div class="controls">
					<input type="text" id="deUsuario" name="usuario.deUsuario" value="${usuario.deUsuario}" autocomplete="off" class="input-xlarge" readonly="readonly"/>						
				</div>
			</div>						
			<div class="control-group">
				<label class="control-label required-form" for="deClave">Clave</label>
				<div class="controls">
					<input type="password" id="deClave" name="usuario.deClave" value="${usuario.deClave}" autocomplete="off" class="input-xlarge"/>						
				</div>
			</div>
			<div class="control-group">
				<label class="control-label required-form" for="deNombre">Persona</label>
				<div class="controls">
					<input type="text" id="deNombre" name="usuario.vmdbPersona.deNombre" value="${usuario.vmdbPersona.deNombre}" autocomplete="off" class="input-xlarge" readonly="readonly"/>						
				</div>
			</div>
			<div class="form-actions">
				<button class="btn btn-primary" id="btnGuardar">Guardar</button>
<!-- 				<button class="btn" id="btnCancelar">Cancelar</button> -->
				<a href="javascript:history.back(1)" class="btn">Atras</a>
			</div>
		</form>		
	</fieldset>
</div>
<script type="text/javascript">
var Categorias = {
	init : function(){
		//$("#buscarCategoria").submit(Categorias.buscar);
		$("#btnGuardar").click(Categorias.guardar);
		//$("#btnCancelar").click(Categorias.cancelar);
		//$(document).delegate("a[id*='update_']","click",Categorias.editarCategorias);
		//$(document).delegate("a[id*='eliminar_']","click",Categorias.eliminar);
	},
	guardar:function(){
		if($('#deClave').val() != ''){
			$.ajax({
				url:"@{Usuarios.cambiarContrasenia()}",
				data:{						
					clave : $('#deClave').val(),
					coUsuario : $('#coUsuario').val()
				},
				success:function(obj){
					if(obj.status == 1){
						$.showMessage('success',obj.message);
					}
				}
			})
		}else{
			alert("Tiene que ingresar el password");
		}
	}
};
$(function(){
	Categorias.init();
});
</script>