#{extends 'main.html' /}
#{set title:'Ver Reserva Semanal' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/bootstrap-datepicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/datepicker.css'}">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/datepicker3.css'}">
#{/set}
<meta charset="UTF-8"/>
<div id="mensajes"></div>
<div class="well">
	<fieldset>
		<legend>Ver Reserva Semanal</legend>
		<form class="form-horizontal">
		  <div class="row">
		     <div class="span5">
			   <div class="control-group">
				 <label class="control-label">Semana del</label>
                 <div class="controls">
    			    <input type="text" id="fechaInicial" name="fechaInicial" autocomplete="off"/>
  				 </div>
			   </div>
		     </div>
 		     <div class="span">
		       <div class="control-group">
			    <label class="control-label">al</label>
                 <div class="controls">
    			   <input type="text" id="fechaFinal" name="fechaFinal" autocomplete="off"/>
  			     </div>
		       </div>						
		     </div>																																				
        </div>
	    <div class="row">
		     <div class="span5">
			   <div class="control-group">
				 <label class="control-label">Sala</label>
                 <div class="controls">
    			    <select name="coSala" id="coSala" class="select" autocomplete="off">
						<option value="00">Seleccione</option>
						#{list listSala,as:'sala'}
						<option value="${sala.coSala}">${sala.deNombre}</option>
						#{/list}
					</select>
  				 </div>
			   </div>
		     </div> 		     																																			
        </div>													
		<div class="form-actions">
			<button class="btn btn-primary" type="button" id="btnVerReservas">Ver Reservas</button>
		</div>
	  </form>
	</fieldset>
</div>
<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th width="8%" style="color:#0088CC;text-align:center;background-color:#f5f5f5">Hora / Día</th>	
			<th id="lunes" style="color:#0088CC;text-align:center;background-color:#f5f5f5">Lunes</th>
			<th id="martes" style="color:#0088CC;text-align:center;background-color:#f5f5f5">Martes</th>
			<th id="miercoles" style="color:#0088CC;text-align:center;background-color:#f5f5f5">Miércoles</th>
			<th id="jueves" style="color:#0088CC;text-align:center;background-color:#f5f5f5">Jueves</th>
			<th id="viernes" style="color:#0088CC;text-align:center;background-color:#f5f5f5">Viernes</th>
			<th id="sabado" style="color:#0088CC;text-align:center;background-color:#f5f5f5">Sábado</th>
		</tr>
	</thead>
	<tbody id="tabla-reserva-semanal">		
	</tbody>
</table>
<script type="text/javascript">
var Semanales = {    
	VERDETALLE : "@{ReporteReserva.verDetalle()}",
	capaDeMensajes : "mensajes",
	init : function(){
		$("#fechaInicial").datepicker({format: 'dd/mm/yyyy',autoclose: true,language: 'es',daysOfWeekDisabled: "0,2,3,4,5"});
		$("#fechaFinal").datepicker({format: 'dd/mm/yyyy',autoclose: true,language: 'es',daysOfWeekDisabled: "0,2,3,4,5"});
		$(document).delegate("#btnVerReservas","click",Semanales.listaDeReservaSemanales);		
	},	
	listaDeReservaSemanales : function(){
		if($.trim($('#fechaInicial').val())==''){
			scroll(0,0);
			$.showMessage("error","Tiene que ingresar la fecha inicial",Semanales.capaDeMensajes,true);
			return false;
		}else{
			if($.trim($('#fechaFinal').val())==''){
				scroll(0,0);
				$.showMessage("error","Tiene que ingresar la fecha final",Semanales.capaDeMensajes,true);
				return false;
			}else{
				if($("#coSala").val() =="00"){
					scroll(0,0);
					 $.showMessage("error","Tiene que seleccionar la sala",Semanales.capaDeMensajes,true);
					 return false;
				}else{
					$.ajax({
						url:"@{ReservaSemanal.listaDeReservaSemanales()}",
						async: false,
						data:{
							coSala        : $('#coSala').val(),
							fechaInicial  : $('#fechaInicial').val(),
							fechaFinal    : $('#fechaFinal').val()							
						},
						success:function(RESULT){
							var from = $("#fechaInicial").val().split("/");//  02/06/2014 
							var from2 = from[1]+"/"+from[0]+"/"+from[2];// 06/02/2014 
							var fechaLunes = $("#fechaInicial").val();
							var fechaMartes = Semanales.incrementarFecha(from2,1);
							var fechaMiercoles = Semanales.incrementarFecha(from2,2); 
							var fechaJueves = Semanales.incrementarFecha(from2,3);
							var fechaViernes = Semanales.incrementarFecha(from2,4);
							var fechaSabado = Semanales.incrementarFecha(from2,5);
							$("#lunes").text("Lunes - "+fechaLunes);
							$("#martes").text("Martes - "+fechaMartes);
							$("#miercoles").text("Miércoles - "+fechaMiercoles);
							$("#jueves").text("Jueves - "+fechaJueves);
							$("#viernes").text("Viernes - "+fechaViernes);
							$("#sabado").text("Sábado - "+fechaSabado);																					
							var html ="";
						    for(var h = 0 ; h <= 23 ; h++){
						    	html+="<tr>";
						    	  html+="<td id='"+h+"1' style='text-align:center;background-color:#fbf5f5'>"+h+":00</td>";
						    	  html+="<td id='"+h+"2' style='text-align:center;background-color:#fbf5f5'></td>";
						    	  html+="<td id='"+h+"3' style='text-align:center;background-color:#fbf5f5'></td>";
						    	  html+="<td id='"+h+"4' style='text-align:center;background-color:#fbf5f5'></td>";
						    	  html+="<td id='"+h+"5' style='text-align:center;background-color:#fbf5f5'></td>";
						    	  html+="<td id='"+h+"6' style='text-align:center;background-color:#fbf5f5'></td>";
						    	  html+="<td id='"+h+"7' style='text-align:center;background-color:#fbf5f5'></td>";
						    	html+="</tr>";						    	   						    	   					    	   						    	   						    	   						    	   						    	   
						     }
						     $("#tabla-reserva-semanal").html(html);
						     if(RESULT.length>0){						       
						        for(var j = 0 ; j < RESULT.length ; j++){
						        	for(var k = parseInt(RESULT[j].desde) ; k < parseInt(RESULT[j].hasta) ; k++){
						        		$("#"+k+""+RESULT[j].dia).text(RESULT[j].sala);
						        		$("#"+k+""+RESULT[j].dia).css("background-color","#3268F1");
						        		$("#"+k+""+RESULT[j].dia).css("color","#FFFFFF");
						        		//$("#"+k+""+RESULT[j].dia).css("font-weight","bold");
						        	}						    	   						    	 
						        } 							    								    							    																																					
								//scroll(0,0);
								//$.showMessage("success","Se encontraron salas libres para el rango de fechas",Semanales.capaDeMensajesBusqueda,true);								
						    }else{
						    	scroll(0,0);
								//$.showMessage("error","No existen salas libres para el rango de fechas o para la hora indicada",Semanales.capaDeMensajesBusqueda,true);
								var html = "";
									$("#tabla-reserva-semanal").html(html);
						    }										
						}
					});	
				}				
			}			
		}		
	},
	incrementarFecha : function(fromDay, nDay){
		var fi = new Date(fromDay); 														
		var fromdate = new Date(fi);	
		fromdate.setDate(fromdate.getDate()+nDay);
		var dd = fromdate.getDate();
        var mm = fromdate.getMonth()+1; 
        var yyyy = fromdate.getFullYear();
        if(dd < 10){
            dd = '0'+ dd;
        }
        if(mm < 10){
            mm = '0' + mm;
        }
        var fromdate1 = dd+'/'+mm+'/'+yyyy;
        return fromdate1;
	}									
	
}
$(function(){
	Semanales.init();
})
</script>